<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">

    <div cdkScrollable
         class="sm:col-span-3 lg:col-span-4 mx-10 mt-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
         style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between pt-3  px-6 md:px-8 ">

            <div class="text-3xl font-semibold tracking-tight">Search Doctor</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-1 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <!--<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon
                        matPrefix
                        [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input
                        matInput
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'">
                </mat-form-field>-->

                <!-- Add Doctors button -->
                <!-- <div class="flex flex-row ">
                    <mat-radio-group aria-label="Select an option" class="mt-3"
                    >
                        <mat-radio-button value="1" class="mr-2">Old Patient</mat-radio-button>
                        <mat-radio-button value="2">New Patient</mat-radio-button>
                    </mat-radio-group>
                </div> -->
            </div>
        </div>

        <div class="flex px-8 pt-8 mb-6">
            <div class="flex flex-auto">


                <!-- <div class="flex flex-col w-1/4 pl-8">
                    <mat-form-field class="w-full">
                        <mat-label>Date</mat-label>

                        <input matInput [matDatepicker]="dp1"
                        >
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>

                </div> -->

                <!-- Email -->
                <!-- <div class="flex flex-col w-1/4 pl-8">
                    <mat-form-field class="w-full">
                        <mat-label>Time</mat-label>
                        <mat-select
                            placeholder="Select Language">
                            <ng-container>
                                <mat-option [value]="'hindi'">
                                    {{'11:00'}}
                                </mat-option>
                            </ng-container>
                            <ng-container>
                                <mat-option [value]="'English'">
                                    {{'12:00'}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="flex flex-col w-1/4 pl-8">
                    <mat-form-field class="w-full">
                        <mat-label>Patient</mat-label>
                        <mat-select
                            placeholder="Select Language">
                            <ng-container>
                                <mat-option [value]="'hindi'">
                                    {{'Ram Kumar'}}
                                </mat-option>
                            </ng-container>
                            <ng-container>
                                <mat-option [value]="'English'">
                                    {{'Geeta'}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                </div> -->
                <form [formGroup]="searchForm"  class="flex flex-row w-full" >
                    <div class="flex flex-col w-1/3 pl-8">
                               
                        <mat-form-field class="w-full">
                            <!-- <mat-label>Speciality Type </mat-label> -->
                            <mat-select [formControlName]="'speciality'"
                                        placeholder="Select Speciality Type">
                                <ng-container>
                                    <mat-option *ngFor="let spe of specialites" [value]="spe.id">
                                        {{spe.name}}
                                    </mat-option>
                                </ng-container>
                               
                            </mat-select>
                        </mat-form-field>

                    </div>
                <div class="flex flex-col w-1/3 pl-8">
                                   
                    <mat-form-field class="w-full">
                        <!-- <mat-label>Aadhaar</mat-label> -->
                        <input
                            matInput
                            placeholder="Doctor First/Last name,Mobile number"
                            [formControlName]="'search'">
                            <!-- <mat-placeholder class="Patient First/Last name,Mobile number">Search</mat-placeholder> -->
                    </mat-form-field>
                </div>
                <div class="flex flex-col w-1/3 pl-10" >
                    <button
                            class="bg-primary-400"
                        mat-button
                        (click)="handleSearchClick(searchForm)"
                        style="border-radius: 3px; color: white">
                        <span class="ml-2 mr-1">Search</span>
                    </button>
                </div>
                </form>

            </div>
        </div>
    </div>
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-8 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Doctors</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <!--<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                    <mat-icon
                        matPrefix
                        [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    <input
                        matInput
                        [autocomplete]="'off'"
                        [placeholder]="'Search...'">
                </mat-form-field>-->

                <!-- Add Doctors button -->
                <!-- <button
                    class="ml-4"
                    disabled='true'
                    mat-flat-button
                    style="background-color: #37babb; color: #ffffff; border-radius: 6px;"
                    [routerLink]="'/appointments/list-by-date'">
                    <span class="mx-2">List by date</span>
                    <mat-icon [svgIcon]="'iconsmind:calendar_clock'"></mat-icon>
                </button> -->
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div
                        class="overflow-x-auto sm:overflow-y-auto"
                        cdkScrollable>

                        <!-- Table -->
                        <table
                            class="w-full  table-fixed bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table
                            [multiTemplateDataRows]="true"
                            [dataSource]="currentItems"
                            [trackBy]="trackByFn">

                            <!-- Name -->
                            <ng-container matColumnDef="name">
                                <th
                                    class="text-center w-12 pl-0 border-r font-bold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Name
                                </th>
                                <td
                                    class="pl-0 truncate border-r tracking-tight"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.first_name ||''}} {{ doctor.last_name || ''}}
                                </td>
                            </ng-container>

                            <!-- Price -->
                            <ng-container matColumnDef="emailPhone">
                                <th
                                        class="text-center text-center w-12  border-r font-semibold text-1xl truncate"
                                        mat-header-cell
                                        *matHeaderCellDef>
                                    Email / Phone
                                </th>
                                <td
                                        class="  truncate border-r"
                                        mat-cell
                                        *matCellDef="let doctor">
                                    {{doctor.email || ''}}<br>
                                    (<span class="text-primary">{{doctor.phone || ''}}</span>)
                                </td>
                            </ng-container>


                            <!-- Active -->
                            <ng-container matColumnDef="speciality">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    City
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.city || ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="experience">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Experience
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.year_of_experience || ''}} (years)
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th
                                    class="text-center w-8  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Status
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div class="w-full h-full flex justify-center items-center">
                                    <span *ngIf="doctor?.is_active=== 1" class="flex items-center"
                                          style="width: 60px; background: green; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">Active</span>
                                </span>
                                        <span *ngIf="doctor?.is_active !== 1" class="flex items-center"
                                              style="width: 70px; background: #F14963; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">In Active</span>
                                </span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="createdAt">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Created Date
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.created_at | date: 'medium'">{{doctor.created_at | date: 'mediumDate'}}<br><span>{{doctor.created_at | date: 'shortTime'}}</span></span>
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th
                                    class="text-center w-10 pr-0  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td
                                    class=" pr-0 "
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div class=" flex justify-center flex-shrink-0 items-center"><button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            matTooltip="Choose Doctor"
                                            (click)="gotoPatientDetails(doctor)">
                                        <!-- <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'feather:edit'"></mat-icon> -->
                                        <mat-icon>center_focus_strong</mat-icon>
                                    </button>
                                        <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                style="border: none;"
                                                mat-stroked-button
                                                matTooltip="Preview Doctor"
                                                (click)="previewDoctor(doctor)">
                                            <!-- <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:edit'"></mat-icon> -->
                                            <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
<!--                                        <button-->
<!--                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "-->
<!--                                            style="border: none;"-->
<!--                                            mat-raised-button-->
<!--                                            color="primary"-->
<!--                                            matTooltip="Choose Doctor"-->
<!--                                            (click)="gotoPatientDetails(doctor)">Choose-->
<!--                                            &lt;!&ndash; <mat-icon>check_circle</mat-icon> &ndash;&gt;-->
<!--                                        </button>-->
<!--                                        <button-->
<!--                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "-->
<!--                                            style="border: none;"-->
<!--                                            mat-raised-button-->
<!--                                            color="warn"-->
<!--                                            matTooltip="View Doctor"-->
<!--                                            (click)="previewDoctor(doctor)">View-->
<!--                                            &lt;!&ndash; <mat-icon-->
<!--                                                class="icon-size-5"-->
<!--                                                [svgIcon]="'feather:eye'"></mat-icon> &ndash;&gt;-->
<!--                                        </button>-->
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td
                                    class="p-0 border-b-0"
                                    mat-cell
                                    *matCellDef="let doctor"
                                    [attr.colspan]="doctorsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr
                                class="shadow"
                                mat-header-row
                                *matHeaderRowDef="doctorsTableColumns; sticky: true"></tr>
                            <tr
                                class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                                mat-row
                                *matRowDef="let doctor; columns: doctorsTableColumns;"></tr>
                            <tr
                                class="h-0"
                                mat-row
                                *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Doctors!
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>
