<!-- Navigation -->
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden " [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'" [navigation]="data.navigation.default" [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4 mt-2">
            <div class="relative vertical-align">
                <img style="width: 100% !important;height: 70px !important;" class="w-full h-full"
                    [src]="'assets/images/logo/vmd2.png'" alt="User avatar">
            </div>
        </div>
    </ng-container>
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-col items-center w-full p-4 mt-6">
            <div class="relative vertical-align number-font">
                <p>Version 1.0</p>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49
        shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Navigation toggle button -->
        <!--<button style="background: #22D3C5; left: -44px;"
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')">
            <mat-icon style="position: absolute; right: -20px;" [svgIcon]="'heroicons_outline:chevron-left'"></mat-icon>
        </button>-->
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-2">

            <!-- Actions -->
            <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">

                <!-- <button
                    class="fuse-mat-button-rounded"
                    mat-flat-button
                    [matMenuTriggerFor]="createNew"
                    style="background-color: #2FAAAB">
                    <span class="ml-2" style="color: white">Create as new</span>
                    <mat-icon style="color: white !important;"
                              class="icon-size-5"
                              [svgIcon]="'keyboard_arrow_down'"></mat-icon>
                </button> -->
                <button class="fuse-mat-button-rounded" mat-flat-button [matMenuTriggerFor]="profile"
                    style="background-color: #E5E5E5">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    <span class="ml-2 truncate capitalize" style="color: black">{{userInfo && userInfo.first_name ?
                        userInfo.first_name : ''}}</span>
                    <mat-icon class="icon-size-5" [svgIcon]="'keyboard_arrow_down'"></mat-icon>
                </button>
                <!--<button
                    class="fuse-mat-button-rounded"
                    mat-flat-button
                    [matMenuTriggerFor]="language"
                    style="background-color: #E5E5E5">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                    <span class="ml-2" style="color: black">En</span>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'keyboard_arrow_down'"></mat-icon>
                </button>-->

            </div>

            <!-- its for language tab 
                <language></language>
             -->
            <!-- <messages [messages]="data.messages"></messages>-->
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-between w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden">
        <img style="height: 30px; width: auto;" src="assets/images/powered-by-virtumd%20(1).png" alt="">
        <img style="height: 34px; width: auto;" src="assets/images/security_icon.png" alt="">
    </div>


</div>

<!-- Create New -->
<mat-menu [xPosition]="'before'" #createNew="matMenu">
    <ng-container *ngIf="role && role === 'admin'">
        <button mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'Doctor'}}</span>
            </span>
        </button>
    </ng-container>
    <ng-container *ngIf="role && role === 'admin'">
        <button mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'Appointment'}}</span>
            </span>
        </button>
    </ng-container>
    <ng-container *ngIf="role && role === 'doctor'">
        <button mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'Prescription'}}</span>
            </span>
        </button>
    </ng-container>
    <ng-container *ngIf="role && role === 'doctor'">
        <button mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'Drugs'}}</span>
            </span>
        </button>
    </ng-container>
</mat-menu>


<!-- Profile menu -->
<mat-menu [xPosition]="'before'" #profile="matMenu">

    <!-- Header -->
    <div class="flex flex-col flex-0 py-1 px-4 border-b">
        <div class="flex items-center">
            <div class="flex items-center mr-1 cursor-pointer">
                <mat-icon style="height: 65px; width: 65px; color: black" class="icon-size-15"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <div class="ml-4 font-medium truncate capitalize">{{userInfo && userInfo.first_name ?
                    userInfo.first_name : ''}}
                    <br>{{userInfo && userInfo.email ? userInfo.email : ''}}
                </div>
            </div>
        </div>
    </div>

    <!-- <ng-container>
        <button
            mat-menu-item>
            <span class="flex items-center">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'heroicons_outline:user'"></mat-icon>
                <span class="ml-1">View Profile</span>
            </span>
        </button>
    </ng-container> -->
    <ng-container>
        <button mat-menu-item>
            <span class="flex items-center">
                <mat-icon class="icon-size-5" [svgIcon]="'feather:edit'"></mat-icon>
                <span class="ml-1">Update Profile</span>
            </span>
        </button>
    </ng-container>
    <!-- <ng-container>
        <button
            [routerLink]="'/reset-password'"
            mat-menu-item>
            <span class="flex items-center">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'iconsmind:data_password'"></mat-icon>
                <span class="ml-1">Change Password</span>
            </span>
        </button>
    </ng-container>
    <ng-container>
        <button
            [routerLink]="'/sign-in'"
            mat-menu-item>
            <span class="flex items-center">
        <mat-icon
            class="icon-size-5"
            [svgIcon]="'mat_solid:logout'"></mat-icon>
                <span class="ml-1">Logout</span>
            </span>
        </button>
    </ng-container> -->
</mat-menu>


<!-- Language menu -->
<!--
<mat-menu
    [xPosition]="'before'"
    #language="matMenu">
    <ng-container>
        <button
            mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'English'}}</span>
            </span>
        </button>
    </ng-container>
    <ng-container>
        <button
            mat-menu-item>
            <span class="flex items-center">
                <span class="ml-3">{{'Arabic'}}</span>
            </span>
        </button>
    </ng-container>
</mat-menu>
-->
