<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
  <div
      class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
      style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
      <!-- Header -->
      <app-list-header
              [isLoading]="isLoading"
              [isSearchedList]="isSearchedList"
              [shouldRenderNewButton]="false"
              (handleSearch)="handleSearchClick($event)"
              [routerLinkForNewButton]="'/patients/new'"
              (exportJSON)="exportJSON()"
              headerTitle="All Patients"
      ></app-list-header>
<!--      <div-->
<!--          class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">-->
<!--          &lt;!&ndash; Loader &ndash;&gt;-->
<!--          <div-->
<!--              class="absolute inset-x-0 bottom-0"-->
<!--              *ngIf="isLoading">-->
<!--              <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
<!--          </div>-->
<!--          &lt;!&ndash; Title &ndash;&gt;-->
<!--          <div class="text-3xl font-semibold tracking-tight">All Patients</div>-->
<!--      </div>-->


      <!-- Main -->
      <div class="flex flex-auto overflow-hidden">

          <!-- Doctors list -->
          <div class="flex flex-col flex-auto overflow-hidden">

              <ng-container *ngIf="currentItems.length > 0 || isLoading; else noPatients">

                  <!-- Table wrapper -->
                  <div
                      class="overflow-x-auto sm:overflow-y-auto"
                      cdkScrollable>

                      <!-- Table -->
                      <table
                          appTableExportToExcel
                          class="w-full sisgain-list-table table-fixed bg-transparent"
                          [ngClass]="{'pointer-events-none': isLoading}"
                          mat-table
                          [multiTemplateDataRows]="true"
                          [dataSource]="currentItems"
                          [trackBy]="trackByFn">

                          <!-- Name -->
                          <ng-container matColumnDef="name">
                              <th
                                  class="text-center w-12 pl-0 border-r font-bold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef>
                                  Name
                              </th>
                              <td
                                  class="pl-0 capitalize truncate border-r tracking-tight"
                                  mat-cell
                                  *matCellDef="let patient">
                                  {{patient?.first_name || ''}} {{patient?.last_name || ''}}
                              </td>
                          </ng-container>

                          <!-- Price -->
                          <ng-container matColumnDef="emailPhone">
                              <th
                                      class="text-center w-12  border-r font-semibold text-1xl truncate"
                                      mat-header-cell
                                      *matHeaderCellDef>
                                  Email / Phone
                              </th>
                              <td
                                      class="  truncate border-r"
                                      mat-cell
                                      *matCellDef="let patient">
                                  {{patient.email || ''}} <br>
                                  (<span class="text-primary">{{patient.phone || ''}}</span>)
                              </td>
                          </ng-container>

                        

                          <ng-container matColumnDef="status">
                              <th
                                  class="text-center w-8  border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef
                              >
                                  Status
                              </th>
                              <td
                                  class="  border-r truncate"
                                  mat-cell
                                  *matCellDef="let patient">
                                  <div class="w-full h-full flex justify-center items-center">
                                    <span *ngIf="patient?.is_active=== 1" class="flex items-center"
                                          style="width: 60px; background: green; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">Active</span>
                                </span>
                                      <span *ngIf="patient?.is_active !== 1" class="flex items-center"
                                            style="width: 70px; background: #F14963; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">In Active</span>
                                </span>
                                  </div>
                              </td>
                          </ng-container>
                          <ng-container matColumnDef="createdAt">
                              <th
                                      class="text-center w-10  border-r font-semibold text-1xl truncate"
                                      mat-header-cell
                                      *matHeaderCellDef
                              >
                                  Created Date
                              </th>
                              <td
                                      class="  border-r truncate"
                                      mat-cell
                                      *matCellDef="let patient">
                                  <span [matTooltip]="patient.created_at | date: 'medium'">{{patient.created_at | date: 'mediumDate'}}<br><span>{{patient.created_at | date: 'shortTime'}}</span></span>
                              </td>
                          </ng-container>

                          <!-- Details -->
                          <ng-container matColumnDef="action">
                              <th
                                  class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef>
                                  Action
                              </th>
                              <td
                                  class="pr-0"
                                  mat-cell
                                  *matCellDef="let patient; let i = dataIndex">
                                  <div class="flex flex-shrink-0 justify-center items-center">
<!--                                      <button-->
<!--                                          class="min-w-10 min-h-7 h-7 px-2 leading-6 "-->
<!--                                          style="border: none;"-->
<!--                                          mat-stroked-button-->
<!--                                          matTooltip="Edit Patient"-->
<!--                                          (click)="editPatient(patient)" *ngIf="role && (role == 'admin' || role == 'representative')">-->
<!--                                          <mat-icon-->
<!--                                              class="icon-size-5"-->
<!--                                              [svgIcon]="'feather:edit'"></mat-icon>-->
<!--                                      </button>-->
                                      <button
                                          class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                          style="border: none;"
                                          mat-stroked-button
                                          matTooltip="Preview Patient"
                                          (click)="previewPatient(patient)">
                                          <mat-icon
                                              class="icon-size-5"
                                              [svgIcon]="'feather:eye'"></mat-icon>
                                      </button>
                                      <button
                                      *ngIf="(role && role === 'admin')" 
                                      matTooltip="Delete Patient"
                                      class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                      style="border: none;"
                                      mat-stroked-button
                                      (click)="deletePatient($event,patient.users_id, i)">
                                      <mat-icon
                                          class="icon-size-5"
                                          [svgIcon]="'delete_forever'"></mat-icon>
                                  </button>
                                  </div>

                                  <div class="flex-row">

                                  </div>
                              </td>
                          </ng-container>

                          <!-- Product details row -->
                          <ng-container matColumnDef="doctorDetails">
                              <td
                                  class="p-0 border-b-0"
                                  mat-cell
                                  *matCellDef="let patient"
                                  [attr.colspan]="patientsTableColumns.length">
                                  <!--<ng-container *ngIf="selectedProduct?.id === patient.id">
                                      <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: patient}"></ng-container>
                                  </ng-container>-->
                              </td>

                          </ng-container>

                          <tr
                              class="shadow"
                              mat-header-row
                              *matHeaderRowDef="patientsTableColumns; sticky: true"></tr>
                          <tr
                              class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                              mat-row
                              *matRowDef="let patient; columns: patientsTableColumns;"></tr>
                          <tr
                              class="h-0"
                              mat-row
                              *matRowDef="let row; columns: ['doctorDetails']"></tr>

                      </table>


                      <mat-paginator
                              [length]="totalItemsCount"
                              [pageSize]="limit"
                              [pageSizeOptions]="[5, 10, 25, 100]"
                              (page)="onPageChange($event)"
                              [pageIndex]="currentPage - 1"
                              aria-label="Select page">
                      </mat-paginator>

                  </div>


              </ng-container>

              <ng-template #noPatients>
                  <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                      Patients!
                  </div>
              </ng-template>

          </div>

      </div>

  </div>

</div>
