<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
         style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Rating & Reviews</div>
        </div>

        <!-- Main -->
        <div class="flex flex-col flex-auto overflow-hidden">
            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2 border-b">
                <!-- Task distribution -->
                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noReviews">
                    <div *ngFor="let reviewItem of currentItems; let i = index;"
                         class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 w-full min-w-0 p-5">
                        <div class="flex mx-auto w-full pl-12 justify-start items-center">
                            <div class="flex items-center rounded-full overflow-hidden justify-center">
                                <img class="w-22 h-22 object-cover"
                                     [src]="reviewItem.d_image || 'assets/images/default.jpg'" alt="">
                            </div>
                            <div class="text-1xl h-22 font-medium text-dark-800 dark:text-dark-900 mt-3 ml-3">
                                <!--                            <bar-rating [(rate)]="rateLeft" [max]="5"  [theme]="'stars'" [readOnly]="true"></bar-rating>-->
                                <p style="max-width: 150px" class="font-bold whitespace-normal">{{reviewItem.df_name + ' ' +
                                reviewItem.dm_name + ' ' + reviewItem.dl_name}}</p>
                                <p class="mt-0.5 text-gray-500 text-md">{{reviewItem.spec_name}}</p>

                            </div>
                        </div>
                        <div class="flex col-span-2 flex-col items-start w-full pr-3">
                            <div class="flex w-full items-center mt-3">
                                <img class="w-6 rounded-full h-6 object-cover"
                                     [src]="reviewItem.p_image || 'assets/images/default.jpg'" alt="">
                                <p class="ml-1.5">{{reviewItem.pf_name}} {{reviewItem.pm_name}} {{reviewItem.pl_name}}</p>
                            </div>
                            <div style="color: #676666">
                            <span>
                                <bar-rating [style]="{zoom: 0.7}" [(rate)]="reviewItem.rating" [max]="5"
                                            [theme]="'stars'" [readOnly]="true"></bar-rating>
                            </span>
                            </div>
                            <div class="font-medium text-gray-800">
                                {{reviewItem.review}}
                            </div>
                            <div>
                                <p class="mt-1 text-gray-500 text-md mt-1">Posted on: <span
                                        class="text-black font-bold number-font">{{reviewItem.created_at |
                                  date:'mediumDate'}}</span></p>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-template #noReviews>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Reviews!
                    </div>
                </ng-template>
                <mat-paginator [length]="totalItemsCount" [pageSize]="limit" [pageSizeOptions]="[5, 10, 25, 100]"
                               (page)="onPageChange($event)" [pageIndex]="currentPage - 1" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>
