<div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 mb-2 px-6 md:px-8 border-b">

    <!-- Loader -->
    <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="text-3xl font-semibold tracking-tight">Prescription</div>


    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-2 sm:mt-0 sm:ml-4">
        <!-- All Doctors button -->
        <button
            class="ml-4"
            mat-flat-button
            style="background-color: #F14963; color: white; border-radius: 6px;"
            [routerLink]="'/patients'">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Create New Prescriptions</span>
        </button>
    </div>
</div>
<!-- Table wrapper -->
<div
    class="overflow-x-auto sm:overflow-y-auto"
    cdkScrollable>

    <!-- Table -->
    <table
        class="w-full  table-fixed bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        mat-table
        [multiTemplateDataRows]="true"
        [dataSource]="patients">

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th
                class="w-12 border-l border-r font-bold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Name
            </th>
            <td
                class="pr-8 truncate border-l border-r tracking-tight"
                mat-cell
                *matCellDef="let patient">
                {{'Jenny Wilson'}}
            </td>
        </ng-container>

        <!-- Price -->
        <ng-container matColumnDef="email">
            <th
                class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Email
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'jennywilson@mail.com'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th
                class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Phone
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'999999999'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th
                class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Created
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'May 25, 2021'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th
                class="w-10 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Action
            </th>
            <td
                class="pr-8 pl-2 "
                mat-cell
                *matCellDef="let doctor">
                <div class="flex flex-shrink-0 items-center">
                    <button
                        class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                        style="border: none;"
                        mat-stroked-button
                        (click)="editDoctor(doctor.id)">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:edit'"></mat-icon>
                    </button>
                    <button
                        class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                        style="border: none;"
                        mat-stroked-button
                        (click)="previewDoctor(doctor.id)">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:eye'"></mat-icon>
                    </button>
                </div>

                <div class="flex-row">

                </div>
            </td>
        </ng-container>

        <tr
            class="shadow"
            mat-header-row
            *matHeaderRowDef="prescriptionsTableColumns; sticky: true"></tr>
        <tr
            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
            mat-row
            *matRowDef="let patient; columns: prescriptionsTableColumns;"></tr>
        <tr
            class="h-0"
            mat-row
            *matRowDef="let row; columns: ['doctorDetails']"></tr>

    </table>

    <mat-paginator
        class=" "
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="10"
        [pageIndex]="1"
        [pageSize]="20"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"></mat-paginator>

</div>

