<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">View Doctor</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Back Doctor button -->
                <button
                    class="ml-4"
                    mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                    [routerLink]="'/doctors'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col flex-auto overflow-hidden">
            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2">
                <!-- Task distribution -->
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5">
                    <div class="w-16 h-16 rounded-full overflow-hidden items-start">
                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"
                             style="position: absolute">
                            <span
                                class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-4">Name: {{doctor?.full_name}}</span>
                            <br>
                            <span
                                class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2">Email: {{doctor?.email}}</span>
                            <br>
                            <span
                                class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2 mb2">Phone No.: {{doctor?.phone}}</span>
                            <br>
                            <div class="flex flex-row">
                                <p class="mt-10 text-2xl text-dark-800 dark:text-dark-900">Image:</p><img
                                style="height: 100px;width: 100px;margin-left: 15px;" class="mt-2"
                                [src]="'assets/images/logo/logo.png'" alt="">
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-row items-start w-full">
                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">
                            <div class="text-1xl font-medium text-dark-800 dark:text-dark-900 mt-2"
                                 style="position: absolute">
                            <span
                                class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2">Created Date: {{doctor?.created_at || ''}}</span>
                                <br>
                                <span
                                    class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2 mb-2">Speciality: {{doctor?.speciality || ''}}</span>
                                <br>
                                <span
                                    class="text-2xl font-medium text-dark-800 dark:text-dark-900 p-2">Year of experience: {{doctor?.experience || ''}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
