<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <app-list-header
                [isLoading]="isLoading"
                [isSearchedList]="isSearchedList"
                [shouldRenderNewButton]="role && role=='admin'"
                (handleSearch)="handleSearchClick($event)"
                [routerLinkForNewButton]="'/doctors/new'"
                (exportJSON)="exportJSON()"
                headerTitle="All Doctors"
        ></app-list-header>
<!--        <div-->
<!--            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">-->
<!--            &lt;!&ndash; Loader &ndash;&gt;-->
<!--            <div-->
<!--                class="absolute inset-x-0 bottom-0"-->
<!--                *ngIf="isLoading">-->
<!--                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>-->
<!--            </div>-->
<!--            &lt;!&ndash; Title &ndash;&gt;-->
<!--            <div class="text-3xl font-semibold tracking-tight">All Doctors</div>-->

<!--            &lt;!&ndash; Actions &ndash;&gt;-->
<!--            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">-->
<!--                &lt;!&ndash; Search &ndash;&gt;-->
<!--                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">-->
<!--                    <mat-icon-->
<!--                        matPrefix-->
<!--                        [svgIcon]="'heroicons_outline:search'"></mat-icon>-->
<!--                    <input-->
<!--                        matInput-->
<!--                        [autocomplete]="'off'"-->
<!--                        [placeholder]="'Search...'">-->
<!--                </mat-form-field>-->

<!--                &lt;!&ndash; Add Doctors button &ndash;&gt;-->
<!--                <button -->
<!--                    class="ml-4"-->
<!--                    mat-flat-button-->
<!--                    style="background-color: #F14963; color: white; border-radius: 6px;"-->
<!--                    [routerLink]="'/doctors/new'" *ngIf="role && role=='admin'">-->
<!--                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>-->
<!--                    <span class="ml-2 mr-1" >Add New</span>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Doctors list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                    <!-- Table wrapper -->
                    <div
                        class="overflow-x-auto sm:overflow-y-auto"
                        cdkScrollable>

                        <!-- Table -->
                        <table
                            appTableExportToExcel
                            class="w-full sisgain-list-table table-fixed bg-transparent"
                            [ngClass]="{'pointer-events-none': isLoading}"
                            mat-table
                            [multiTemplateDataRows]="true"
                            [dataSource]="currentItems"
                            [trackBy]="trackByFn">

                            <!-- Name -->
                            <ng-container matColumnDef="name">
                                <th
                                    class="text-center pl-0 w-12 border-r font-bold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Name
                                </th>
                                <td
                                    class="pl-0 capitalize truncate border-r tracking-tight"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.first_name ||''}} {{ doctor.last_name || ''}}
                                </td>
                            </ng-container>

                            <!-- Price -->
                            <ng-container matColumnDef="emailPhone">
                                <th
                                    class="text-center w-12  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Email / Phone
                                </th>
                                <td
                                    class="  truncate border-r"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.email || ''}}<br>
                                    (<span class="text-primary">{{doctor.phone || ''}}</span>)
                                </td>
                            </ng-container>

                            <!-- Stock -->
<!--                            <ng-container matColumnDef="phone">-->
<!--                                <th-->
<!--                                    class="w-10  border-r font-semibold text-1xl truncate"-->
<!--                                    mat-header-cell-->
<!--                                    *matHeaderCellDef-->
<!--                                >-->
<!--                                    Phone-->
<!--                                </th>-->
<!--                                <td-->
<!--                                    class="  truncate border-r"-->
<!--                                    mat-cell-->
<!--                                    *matCellDef="let doctor">-->
<!--                                    {{doctor.phone || ''}}-->
<!--                                </td>-->
<!--                            </ng-container>-->

                            <!-- Active -->
                            <ng-container matColumnDef="speciality">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    City
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.city || ''}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="experience">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Experience
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    {{doctor.year_of_experience || ''}} (years)
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th
                                    class="text-center w-8  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Status
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <div class="w-full h-full flex justify-center items-center">
                                    <span *ngIf="doctor?.is_active=== 1" class="flex items-center"
                                          style="width: 60px; background: green; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">Active</span>
                                </span>
                                        <span *ngIf="doctor?.is_active !== 1" class="flex items-center"
                                              style="width: 70px; background: #F14963; border-radius: 10px;color: white">
                                    <span class="min-w-4" style="margin-left: 10px">In Active</span>
                                </span>
                                    </div>
                            </ng-container>
                            <ng-container matColumnDef="createdAt">
                                <th
                                    class="text-center w-10  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef
                                >
                                    Created Date
                                </th>
                                <td
                                    class="  border-r truncate"
                                    mat-cell
                                    *matCellDef="let doctor">
                                    <span [matTooltip]="doctor.created_at | date: 'medium'">{{doctor.created_at | date: 'mediumDate'}}<br><span>{{doctor.created_at | date: 'shortTime'}}</span></span>
                                </td>
                            </ng-container>

                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th
                                    class="text-center w-10 pr-0  border-r font-semibold text-1xl truncate"
                                    mat-header-cell
                                    *matHeaderCellDef>
                                    Action
                                </th>
                                <td
                                    class="pr-0"
                                    mat-cell
                                    *matCellDef="let doctor; let i = dataIndex">
                                    <div [ngClass]="{'grid-cols-2': role && role === 'admin', 'grid-cols-1': role || role !== 'admin'}" class="grid">
                                           
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            matTooltip="Edit Doctor"
                                            (click)="editDoctor(doctor)" *ngIf="role && role == 'admin'">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:edit'"></mat-icon>
                                        </button>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                            style="border: none;"
                                            mat-stroked-button
                                            matTooltip="Preview Doctor"
                                            (click)="previewDoctor(doctor)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
                                        <button
                                        class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                        style="border: none;"
                                        mat-stroked-button
                                        matTooltip="Set Availability"
                                        (click)="setAvailability(doctor)" *ngIf="role && role == 'admin'">
                                        <!-- <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'feather:edit'"></mat-icon> -->
                                            <mat-icon  class="icon-size-5" >schedule</mat-icon>
                                    </button>
                                    <button
                                    *ngIf="(role && role === 'admin')" 
                                    matTooltip="Delete Doctor"
                                    class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                    style="border: none;"
                                    mat-stroked-button
                                    (click)="deleteDoctor($event,doctor.users_id, i)">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'delete_forever'"></mat-icon>
                                </button>
                                    </div>

                                    <div class="flex-row">

                                    </div>
                                </td>
                            </ng-container>

                            <!-- Product details row -->
                            <ng-container matColumnDef="doctorDetails">
                                <td
                                    class="p-0 border-b-0"
                                    mat-cell
                                    *matCellDef="let doctor"
                                    [attr.colspan]="doctorsTableColumns.length">
                                    <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                    </ng-container>-->
                                </td>

                            </ng-container>

                            <tr
                                class="shadow"
                                mat-header-row
                                *matHeaderRowDef="doctorsTableColumns; sticky: true"></tr>
                            <tr
                                class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
                                mat-row
                                *matRowDef="let doctor; columns: doctorsTableColumns;"></tr>
                            <tr
                                class="h-0"
                                mat-row
                                *matRowDef="let row; columns: ['doctorDetails']"></tr>

                        </table>

                        <mat-paginator
                                [length]="totalItemsCount"
                                [pageSize]="limit"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                (page)="onPageChange($event)"
                                [pageIndex]="currentPage - 1"
                                aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noDoctors>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Doctors!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
