<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
         style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
                class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">Call Queue</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <form class="flex justify-end" [formGroup]="filterForm" action="">

                    <div class="flex flex-col justify-center pl-5">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                            <!--                            <mat-label>Date</mat-label>-->

                            <input readonly matInput [formControlName]="'date'" [matDatepicker]="dp1"
                                   [placeholder]="'Search...'">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                        </mat-form-field>

                    </div>

                    <!-- Email -->
                    <!--                <div class="flex flex-col w-1/4 pl-5">-->
                    <!--                    <mat-form-field class="w-full">-->
                    <!--                        <mat-label>Time</mat-label>-->
                    <!--                        <mat-select placeholder="Select Language">-->
                    <!--                            <ng-container>-->
                    <!--                                <mat-option [value]="'hindi'">-->
                    <!--                                    {{'11:00'}}-->
                    <!--                                </mat-option>-->
                    <!--                            </ng-container>-->
                    <!--                            <ng-container>-->
                    <!--                                <mat-option [value]="'English'">-->
                    <!--                                    {{'12:00'}}-->
                    <!--                                </mat-option>-->
                    <!--                            </ng-container>-->
                    <!--                        </mat-select>-->
                    <!--                    </mat-form-field>-->

                    <!--                </div>-->

                    <div class="flex flex-col justify-center pl-5">
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript min-w-50">
                            <mat-icon matPrefix [svgIcon]="'heroicons_outline:search'"></mat-icon>
                            <input [formControlName]="'search'" matInput [autocomplete]="'off'"
                                   [placeholder]="'Search...'">
                            <div *ngIf="isSearchedList" (click)="resetSearch($event)"
                                 class="h-full flex justify-center items-center cursor-pointer text-red-700">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                        </mat-form-field>

                    </div>
                    <div class="flex flex-col pl-5" style="align-items: center;justify-content: center;">
                        <button class="bg-primary-400 transition" mat-flat-button
                                style="color: white; border-radius: 6px;" (click)="handleSearchClick(filterForm)">
                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                            <span class="ml-2 mr-1">Search</span>
                        </button>
                    </div>
                    <button *ngIf="currentItems.length > 0" class="ml-5 bg-primary-400 transition" mat-flat-button
                            style="color: white; border-radius: 6px;" (click)="exportJSON()">
                        <!--                <i id="exit-icon" class="fas fa-file-export" aria-hidden="true">fa-file-export</i>-->
                        <!--                <mat-icon>unarchive</mat-icon>-->
                        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M15.8,20H14L12,16.6L10,20H8.2L11.1,15.5L8.2,11H10L12,14.4L14,11H15.8L12.9,15.5L15.8,20M13,9V3.5L18.5,9H13Z" />
                        </svg>
                        <span class="ml-2 mr-1">Export</span>
                    </button>
                </form>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">

            <!-- Products list -->
            <div class="flex flex-col flex-auto overflow-hidden">

                <ng-container *ngIf="currentItems.length > 0 || isLoading; else noCallLOgs">

                    <!-- Table wrapper -->
                    <!-- {{callLogs.length}} -->
                    <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                        <!-- Table -->
                        <table appTableExportToExcel class="w-full table-fixed bg-transparent" [ngClass]="{'pointer-events-none': isLoading}"
                               mat-table [multiTemplateDataRows]="true" [dataSource]="currentItems" [trackBy]="trackByFn">

                            <!-- Name -->
                            <ng-container matColumnDef="p_name">
                                <th class="text-center w-12 pl-0 border-r font-bold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Patient Name
                                </th>
                                <td class="pl-0 truncate border-r tracking-tight capitalize" mat-cell
                                    *matCellDef="let drug">
                                    {{drug.pf_name}} {{drug.pm_name || ''}} {{drug.pl_name}}
                                </td>
                            </ng-container>

                            <!-- Name -->
                            <ng-container matColumnDef="d_name">
                                <th class="text-center w-12 pl-0 border-r font-bold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Doctor Name
                                </th>
                                <td class="pl-0 truncate border-r tracking-tight capitalize" mat-cell
                                    *matCellDef="let drug">
                                    {{drug.df_name}} {{drug.dm_name || ''}} {{drug.dl_name}}
                                </td>
                            </ng-container>

                            <!-- Price -->
                            <ng-container matColumnDef="phone">
                                <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Phone
                                </th>
                                <td class="  truncate border-r" mat-cell *matCellDef="let drug">
                                    {{drug.p_phone}}
                                </td>
                            </ng-container>

                            <!-- Stock -->
                            <!--                          <ng-container matColumnDef="callType">-->
                            <!--                              <th-->
                            <!--                                  class="text-center w-10  border-r font-semibold text-1xl truncate"-->
                            <!--                                  mat-header-cell-->
                            <!--                                  *matHeaderCellDef>-->
                            <!--                                  Call Type-->
                            <!--                              </th>-->
                            <!--                              <td-->
                            <!--                                  class="  truncate border-r"-->
                            <!--                                  mat-cell-->
                            <!--                                  *matCellDef="let drug">-->
                            <!--                                  instatnt Call-->
                            <!--                              </td>-->
                            <!--                          </ng-container>-->

                            <ng-container matColumnDef="date">
                                <th class="text-center w-10  border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Date
                                </th>
                                <td class="  truncate border-r" mat-cell *matCellDef="let drug">
                                    {{drug.created_at | date}}
                                </td>
                            </ng-container>

                            <!-- Stock -->
                            <ng-container matColumnDef="checkIn">
                                <th class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate" mat-header-cell
                                    *matHeaderCellDef>
                                    Check In
                                </th>
                                <td class="pr-0 truncate border-r" mat-cell *matCellDef="let drug">
                                    {{drug.checked_in | date}}
                                </td>
                            </ng-container>

                            <!-- Stock -->
                          <ng-container matColumnDef="join">
                              <th
                                  class="text-center w-10  border-r font-semibold text-1xl truncate"
                                  mat-header-cell
                                  *matHeaderCellDef
                              >
                                  Join
                              </th>
                              <td
                                  class="  truncate border-r"
                                  mat-cell
                                  *matCellDef="let drug">
                                  <div class="flex flex-shrink-0 justify-center items-center">
                                      <button
                                          class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                          style="border: none;"
                                          mat-stroked-button
                                          matTooltip="Join Call"
                                          (click)="joincall(drug)">
                                          <mat-icon color="warn" svgIcon="feather:video"></mat-icon>
                                      </button>
                                  </div>
                              </td>
                          </ng-container>


                            <!-- Details -->
                            <ng-container matColumnDef="action">
                                <th class="text-center pr-0 w-10 border-r font-semibold text-1xl truncate"
                                    mat-header-cell *matHeaderCellDef>
                                    Actions
                                </th>
                                <td class="pr-0  " mat-cell *matCellDef="let drug">
                                    <div class="flex flex-shrink-0 justify-center items-center">
                                        <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                                mat-stroked-button matTooltip="View Call Logs">
                                            <mat-icon class="icon-size-5" [svgIcon]="'feather:eye'"></mat-icon>
                                        </button>
                                    </div>

                                    <!-- <div class="flex-row">

                                  </div> -->
                                </td>
                            </ng-container>


                            <tr class="shadow" mat-header-row *matHeaderRowDef="callLogsTableColumns; sticky: true">
                            </tr>
                            <tr class="h-18 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                *matRowDef="let drug; columns: callLogsTableColumns;"></tr>
                            <!-- <tr
                              class="h-0"
                              mat-row
                              *matRowDef="let row; columns: ['doctorDetails']"></tr> -->

                        </table>
                        <mat-paginator [length]="totalItemsCount" [pageSize]="limit"
                                       [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
                                       [pageIndex]="currentPage - 1" aria-label="Select page">
                        </mat-paginator>

                    </div>


                </ng-container>

                <ng-template #noCallLOgs>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                        Call Queue!
                    </div>
                </ng-template>

            </div>

        </div>
    </div>
</div>
