.top-container {
    display: flex;
    // align-items: center
}
.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9
}
.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 20px
}

.mail {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 20px
}
.img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.demo-inline-calendar-card {
    width: 300px;
  }

  .selectTimeStart{
    margin-top: 30px
     }


     .selectTimeStart2{
        display: inline-block;
        position: relative;
        padding: 7px 22px;
        border: 1px solid #eceaea;
        margin-right: 5px;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        top: -30%;
        padding-top: 22px;
     }
     
     .selectTimeStart2 p{
         display: inline-block;
         padding: 7px 22px;
         border: 1px solid #eceaea;
         min-width: 114px;
         align-items: center;
         text-align: center;
         position: relative;
         margin-right: 20px;
     }
     
     