
<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden" style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <!-- <div class="text-3xl font-semibold tracking-tight">View Doctor</div> -->
            <div class="top-container">
                <img src="{{doctorItem.image?doctorItem.image:'assets/images/patient.png'}}" class="img-fluid profile-image img">
                <div class="ml-3">
                    <h5 class="name">{{doctorItem.first_name}} {{doctorItem.last_name}}</h5>
                    <p class="mail">{{doctorItem.bio}}</p>
                </div>
            </div>
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

                <!-- Back Doctor button -->
                <button class="ml-4" mat-flat-button style="background-color: #E5E5E5; color: black; border-radius: 6px;" [routerLink]="'/doctors'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon>
                    <span class="ml-2 mr-1">Back</span>
                </button>
            </div>
        </div>

        <div class="flex flex-col flex-auto" style="overflow: auto;height: 250px;">
            <div class="grid grid-cols-1 gap-6 w-full min-w-0 px-2">
                <!-- Task distribution -->
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0 p-5" style="position: relative">
                    <div class="text-1xl w-full font-medium text-dark-800 dark:text-dark-900 mt-2" style="position: absolute">
                        <div class="flex-row box-border  items-center" style="text-align: center;margin-top: 10px">
                            <mat-slide-toggle class="tp-margin" name="daystatus" [(ngModel)]="instant_call">instant call
                            </mat-slide-toggle>
                            <!--  <span class="cancleButton">&times;</span> -->

                        </div>
                        <div class="col-lg-12 col-sm-12" *ngIf="!instant_call">
                            <div class="col-md-4 col-sm-12">
                                <div class="demo-inline-calendar-card">
                                    <mat-calendar [selected]="selectedDate"
                                    (selectedChange)="onSelect($event)" ></mat-calendar>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 dateTimeZoneStart">
                                <div class="selectTimeStart">
                                    <h5>Time Slot</h5>
                                </div>
                                <div class="selectTimeStart">
                                    <div Class="selectTimeStart2" style="overflow: auto; height: 210px; width: 90%;">
                                        <p [ngStyle]="{'background-color':selectedTime!= slot? '#2faaab' : '#ec1f24' }" style="cursor: pointer;color: white;" *ngFor="let slot of timeslot;" (click)="settime(slot)">
                                            <span *ngIf="!allotimeslot.includes(tConvert(slot))"> {{tConvert(slot)}}</span>
                                        </p>
                                        <p *ngIf="timeslot.length == 0"> No Available Slot</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="flex-row box-border  items-center" style="margin-top: 10px;position: fixed;bottom: 50px;right: 100px;">
                            <!-- {{!instant_call && !selectedTime}} -->
                            <button class="ml-4" mat-flat-button style="background-color: #2faaab; color: white; border-radius: 6px;float:right;" (click)="gotoMedicalPage()" [disabled]="!instant_call && !selectedTime">
                                <!-- <mat-icon [svgIcon]="'heroicons_outline:arrow-sm-left'"></mat-icon> -->
                                <span class="ml-2 mr-1">Next</span>
                            </button>

                        </div>

                    </div>
                    <!-- <div class="flex flex-row items-start w-full">
                        <div class="text-1xl font-medium text-dark-800 dark:text-dark-900">
                           
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
