<!--Loader-->

<div class="page-layout blank">

    <div id="loader">
        <div class="loader" *ngIf="isDashLoading">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
            <div class="four"></div>
            <div class="five"></div>
            <div class="six"></div>
        </div>
    </div>

</div>


<!--/Loader-->

<!--Admin Dashboard Start-->

<div class="flex flex-col flex-auto min-w-0" *ngIf="((role && role === 'admin') || (role && role === 'representative')) && !isDashLoading">
    <div class="flex-auto p-6 sm:p-10 bg-white">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                 style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 27.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Patients</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.patient}}</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                 style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 34.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Doctors</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.doctor}}</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                 style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)"  *ngIf="((role && role !== 'representative'))">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Representatives</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.agent}}</div>
                    </div>
                </div>
            </div>
       <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                 style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 39.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Upcoming <br> Appointments</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.up_appointment}}</div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                 style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                    <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                        <img class="w-full h-full object-cover" [src]="'assets/icons/Group 55.png'" alt="">
                    </div>
                    <div class="flex flex-col items-start">
                        <div class="text-2xl font-medium truncate" style="color: #676666">Total Calls</div>
                        <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.pa_appointment}}</div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
            style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">
           <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
               <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                   <img class="w-full h-full object-cover" [src]="'assets/icons/Group 55.png'" alt="">
               </div>
               <div class="flex flex-col items-start">
                   <div class="text-2xl font-medium truncate" style="color: #676666">Cancelled <br> Appointments</div>
                   <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900 number-font">{{dashboardCount?.c_appointment}}</div>
               </div>
           </div>
       </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0 mt-10">
            
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 mt-12">
            <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                 class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Patients</div>
                </div>
                <div class="flex flex-col flex-auto mt-6">
                    <canvas baseChart [datasets]="graphConfig.datasets" [labels]="graphConfig.labels"
                            [colors]="graphConfig.colors" [options]="graphConfig.options"
                            [chartType]="graphConfig.chartType"></canvas>
                </div>
            </div>
            <div *ngIf="role && role === 'admin'" style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                 class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Visits</div>
                </div>
                <div class="flex flex-col flex-auto mt-6">
                    <canvas baseChart [datasets]="graphConfig.datasets" [labels]="graphConfig.labels"
                            [colors]="graphConfig.colors" [options]="graphConfig.options" [chartType]="'line'"></canvas>
                </div>
            </div>
            <div *ngIf="role && role === 'representative'" style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                 class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                <div class="flex flex-col sm:flex-row items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Appointments</div>
                </div>
                <div class="flex flex-col flex-auto mt-6 overflow-hidden">
                    <div class="flex flex-col flex-auto overflow-hidden">

                        <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                            <!-- Table wrapper -->
                            <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                                <!-- Table -->
                                <table appTableExportToExcel class="w-full sisgain-list-table table-fixed bg-transparent"
                                       [ngClass]="{'pointer-events-none': isLoading}" mat-table [multiTemplateDataRows]="true"
                                       [dataSource]="currentItems">

                                    <!-- Name -->
                                    <!-- <ng-container matColumnDef="#">
                                        <th
                                            class="text-center w-5 border-r font-bold text-1xl truncate"
                                            mat-header-cell
                                            *matHeaderCellDef>
                                            #
                                        </th>
                                        <td
                                            class="
                                             truncate border-r tracking-tight"
                                            mat-cell
                                            *matCellDef="let doctor">
                                            {{'1'}}
                                        </td>
                                    </ng-container> -->

                                    <!-- Price -->
                                    <ng-container matColumnDef="sno">
                                        <th class="text-center pl-0 w-5  border-r font-semibold text-1xl truncate"
                                            mat-header-cell *matHeaderCellDef>
                                            S. No.
                                        </th>
                                        <td class="pl-0 truncate border-r" mat-cell *matCellDef="let doctor">
                                            {{doctor.appointment_id ||''}}
                                        </td>
                                    </ng-container>

                                    <!-- Stock -->
                                    <!-- <ng-container matColumnDef="mrNo" >
                                        <th
                                            class="text-center w-6  border-r font-semibold text-1xl truncate"
                                            mat-header-cell
                                            *matHeaderCellDef
                                        >
                                            Mr No.
                                        </th>
                                        <td
                                            class="  truncate border-r"
                                            mat-cell
                                            *matCellDef="let doctor">
                                            {{doctor.appoint_id || ''}}
                                        </td>
                                    </ng-container> -->

                                    <!-- Active -->
                                    <ng-container matColumnDef="memberName">
                                        <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                            *matHeaderCellDef>
                                            Member Name
                                        </th>
                                        <td class="capitalize border-r truncate" mat-cell *matCellDef="let doctor">
                                            {{doctor.p_first_name || ''}} {{doctor.p_last_name || ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="doctorName">
                                        <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                            *matHeaderCellDef>
                                            Doctor Name
                                        </th>
                                        <td class="capitalize border-r truncate" mat-cell *matCellDef="let doctor">
                                            {{doctor.first_name || ''}} {{doctor.last_name || ''}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="scheduleInfo">
                                        <th class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate" mat-header-cell
                                            *matHeaderCellDef>
                                            Schedule Info.
                                        </th>
                                        <td class=" pr-0 border-r truncate" mat-cell *matCellDef="let doctor">
                                            {{doctor.date | date: 'mediumDate'}}
                                            <br>
                                            {{doctor.start_time}} - {{doctor.end_time}}
                                        </td>
                                    </ng-container>

                                    <!-- Details -->
                                    <ng-container *ngIf="(role && role === 'representative')" matColumnDef="action">
                                        <th class="text-center w-6 pr-0 border-r font-semibold text-1xl truncate"
                                            mat-header-cell *matHeaderCellDef>
                                            Action
                                        </th>
                                        <td class="pr-0" mat-cell *matCellDef="let doctor; let i = dataIndex">
                                            <div class="flex justify-center flex-shrink-0 items-center">

                                                <!-- <button
                                                    class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                    style="border: none;"
                                                    mat-stroked-button
                                                    (click)="previewDoctor(doctor)">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="'feather:eye'"></mat-icon>
                                                </button> -->
                                                <button matTooltip="In Progress..."
                                                        [disabled]="!activeAppointmentIndices.includes(doctor.id)"
                                                        class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                                        (click)="appointmentMakeCall($event, doctor)"
                                                        mat-stroked-button>
                                                    <mat-icon class="icon-size-5" [ngStyle]="{color: activeAppointmentIndices.includes(doctor.id) ? 'green' : 'grey'}" [svgIcon]="'videocam'"></mat-icon>
                                                </button>
                                            </div>

                                            <div class="flex-row">

                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Product details row -->
                                    <ng-container matColumnDef="doctorDetails">
                                        <td class="p-0 border-b-0" mat-cell *matCellDef="let doctor"
                                            [attr.colspan]="appointmentsTableColumns.length">
                                            <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                                <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                            </ng-container>-->
                                        </td>

                                    </ng-container>

                                    <tr class="shadow h-12" mat-header-row *matHeaderRowDef="appointmentsTableColumns; sticky: true">
                                    </tr>
                                    <tr class="h-13 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                        *matRowDef="let doctor; columns: appointmentsTableColumns;"></tr>
                                    <tr class="h-0" mat-row *matRowDef="let row; columns: ['doctorDetails']"></tr>

                                </table>

                                <mat-paginator *ngIf="currentItems.length === limit" [length]="totalItemsCount" [pageSize]="limit"
                                               [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
                                               [pageIndex]="currentPage - 1" aria-label="Select page">
                                </mat-paginator>

                            </div>


                        </ng-container>

                        <ng-template #noDoctors>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                                Appointments!
                            </div>
                        </ng-template>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--Admin Dashboard End-->

<!--Doctor Dashboard Start-->

<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white" *ngIf="role && role === 'doctor' && !isDashLoading">

    <div cdkScrollable
         class="sm:col-span-3 lg:col-span-4 mx-10 mt-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden bg-dark"
         style="box-shadow: 0px 0px 8px 2px rgb(245 233 245); height: 160px; background-color: #2FAAAB !important;">
        <div class="grid grid-cols-1 sm:grid-cols-8 gap-6 w-full min-w-0"
             style="background-image: url('assets/images/Group\ 627.png'); background-color: #2FAAAB !important;">
            <div
                class="sm:col-span-2 md:col-span-1 lg:col-span-1 flex flex-col flex-auto p-6 rounded-2xl overflow-hidden">

            </div>
            <div
                class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto py-6 rounded-2xl overflow-hidden">

                <span style="color: white">{{todayDate  | date: 'fullDate'}}</span>
                <br>
                <span class="text-lg font-medium tracking-tight leading-6 truncate "><span
                    class="text-3xl font-semibold" style="color: white">Good Morning,</span> <span
                    class="text-3xl ml-1 font-semibold capitalize"
                    style="color: #FCA603">Dr. {{userInfo && userInfo.first_name ? userInfo.first_name : ''}}</span>
                </span>
                <br>
                <span style="color: white" class="text-lg font-medium tracking-tight leading-6 truncate">Have a nice day
                    at work
                </span>

            </div>

            <div
                class="sm:col-span-2 md:col-span-3 lg:col-span-3 flex flex-col flex-auto p-6 rounded-2xl overflow-hidden">

            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto min-w-0">

        <div class="flex-auto p-6 sm:p-10 bg-white">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0">
<!--                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"-->
<!--                     style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245)">-->

<!--                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">-->
<!--                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">-->
<!--                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">-->
<!--                        </div>-->
<!--                        <div class="flex flex-col items-start">-->
<!--                            <div class="text-2xl font-medium truncate" style="color: #676666">Doctors</div>-->
<!--                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">{{dashboardCount?.doctor}}</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                     style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245); max-height: 315px">

                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 27.png'" alt="">
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="text-2xl font-medium truncate" style="color: #676666">Patients</div>
                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">{{dashboardCount?.patient}}</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                     style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245);">
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                        <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                            <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                        </div>
                        <div class="flex flex-col items-start">
                            <div class="text-2xl font-medium truncate" style="color: #676666">Cancelled<br> Appointment</div>
                            <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">{{dashboardCount?.c_appointment}}</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
                style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245);">
               <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
                   <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                       <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
                   </div>
                   <div class="flex flex-col items-start">
                       <div class="text-2xl font-medium truncate" style="color: #676666">Upcoming<br> Appointment</div>
                       <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">{{dashboardCount?.up_appointment}}</div>
                   </div>
               </div>
           </div>
           <div class="flex flex-col flex-auto pt-6 pb-6 pr-6 pl-4 bg-card rounded-2xl overflow-hidden mr-4"
           style="height: 120px; box-shadow: 0px 0px 8px 2px rgb(245 233 245);">
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 w-full min-w-0">
              <div class="w-16 h-16 mx-auto rounded-full overflow-hidden items-start">
                  <img class="w-full h-full object-cover" [src]="'assets/icons/Group 52.png'" alt="">
              </div>
              <div class="flex flex-col items-start">
                  <div class="text-2xl font-medium truncate" style="color: #676666">Total Calls</div>
                  <div class="text-3xl font-bold font-medium text-dark-800 dark:text-dark-900">{{dashboardCount?.pa_appointment}}</div>
              </div>
          </div>
      </div>

            </div>
            <div class="grid grid-cols-1 sm:grid-cols-7 gap-6 w-full min-w-0 mt-12">
                <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245); max-height: 370px;"
                     class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto p-6 bg-card rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate">Call Logs</div>
                    </div>
                    <div class="flex flex-col flex-auto mt-6">
                        <canvas baseChart style="height: 270px !important"
                                [options]="commonOption"
                                [chartType]="'bar'"
                                [colors]='colors'
                                [datasets]="salesDataset"
                                [labels]="doctorGraphConfig.labels"
                        ></canvas>
                    </div>

                </div>
                <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                     class="sm:col-span-3 lg:col-span-4 flex flex-col flex-auto p-3 bg-card shadow rounded-2xl overflow-hidden">
                    <div class="flex flex-col sm:flex-row items-start justify-between">
                        <div class="text-lg font-medium tracking-tight leading-6 truncate ml-4">Upcoming Appointments</div>
                    </div>
                    <div class="flex flex-auto overflow-hidden">

                        <div class="flex flex-col flex-auto overflow-hidden">

                            <ng-container *ngIf="currentItems.length > 0 || isLoading; else noDoctors">

                                <!-- Table wrapper -->
                                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>

                                    <!-- Table -->
                                    <table appTableExportToExcel class="w-full sisgain-list-table table-fixed bg-transparent"
                                           [ngClass]="{'pointer-events-none': isLoading}" mat-table [multiTemplateDataRows]="true"
                                           [dataSource]="currentItems">

                                        <!-- Name -->
                                        <!-- <ng-container matColumnDef="#">
                                            <th
                                                class="text-center w-5 border-r font-bold text-1xl truncate"
                                                mat-header-cell
                                                *matHeaderCellDef>
                                                #
                                            </th>
                                            <td
                                                class="
                                                 truncate border-r tracking-tight"
                                                mat-cell
                                                *matCellDef="let doctor">
                                                {{'1'}}
                                            </td>
                                        </ng-container> -->

                                        <!-- Price -->
                                        <ng-container matColumnDef="sno">
                                            <th class="text-center pl-0 w-5  border-r font-semibold text-1xl truncate"
                                                mat-header-cell *matHeaderCellDef>
                                                S. No.
                                            </th>
                                            <td class="pl-0 truncate border-r" mat-cell *matCellDef="let doctor">
                                                {{doctor.appointment_id ||''}}
                                            </td>
                                        </ng-container>

                                        <!-- Stock -->
                                        <!-- <ng-container matColumnDef="mrNo" >
                                            <th
                                                class="text-center w-6  border-r font-semibold text-1xl truncate"
                                                mat-header-cell
                                                *matHeaderCellDef
                                            >
                                                Mr No.
                                            </th>
                                            <td
                                                class="  truncate border-r"
                                                mat-cell
                                                *matCellDef="let doctor">
                                                {{doctor.appoint_id || ''}}
                                            </td>
                                        </ng-container> -->

                                        <!-- Active -->
                                        <ng-container matColumnDef="memberName">
                                            <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                                *matHeaderCellDef>
                                                Member Name
                                            </th>
                                            <td class="capitalize border-r truncate" mat-cell *matCellDef="let doctor">
                                                {{doctor.p_first_name || ''}} {{doctor.p_last_name || ''}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="doctorName">
                                            <th class="text-center w-12  border-r font-semibold text-1xl truncate" mat-header-cell
                                                *matHeaderCellDef>
                                                Doctor Name
                                            </th>
                                            <td class="capitalize border-r truncate" mat-cell *matCellDef="let doctor">
                                                {{doctor.first_name || ''}} {{doctor.last_name || ''}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="scheduleInfo">
                                            <th class="text-center w-10 pr-0 border-r font-semibold text-1xl truncate" mat-header-cell
                                                *matHeaderCellDef>
                                                Schedule Info.
                                            </th>
                                            <td class=" pr-0 border-r truncate" mat-cell *matCellDef="let doctor">
                                                {{doctor.date | date: 'mediumDate'}}
                                                <br>
                                                {{doctor.start_time}} - {{doctor.end_time}}
                                            </td>
                                        </ng-container>

                                        <!-- Details -->
                                        <ng-container *ngIf="role && role === 'representative'" matColumnDef="action">
                                            <th class="text-center w-6 pr-0 border-r font-semibold text-1xl truncate"
                                                mat-header-cell *matHeaderCellDef>
                                                Action
                                            </th>
                                            <td class="pr-0" mat-cell *matCellDef="let doctor; let i = dataIndex">
                                                <div class="flex justify-center flex-shrink-0 items-center">

                                                    <!-- <button
                                                        class="min-w-10 min-h-7 h-7 px-2 leading-6 "
                                                        style="border: none;"
                                                        mat-stroked-button
                                                        (click)="previewDoctor(doctor)">
                                                        <mat-icon
                                                            class="icon-size-5"
                                                            [svgIcon]="'feather:eye'"></mat-icon>
                                                    </button> -->
                                                    <button matTooltip="In Progress..."
                                                            [disabled]="!activeAppointmentIndices.includes(doctor.id)"
                                                            class="min-w-10 min-h-7 h-7 px-2 leading-6 " style="border: none;"
                                                            mat-stroked-button>
                                                        <mat-icon class="icon-size-5" [ngStyle]="{color: activeAppointmentIndices.includes(doctor.id) ? 'green' : 'grey'}" [svgIcon]="'videocam'"></mat-icon>
                                                    </button>
                                                </div>

                                                <div class="flex-row">

                                                </div>
                                            </td>
                                        </ng-container>

                                        <!-- Product details row -->
                                        <ng-container matColumnDef="doctorDetails">
                                            <td class="p-0 border-b-0" mat-cell *matCellDef="let doctor"
                                                [attr.colspan]="appointmentsTableColumns.length">
                                                <!--<ng-container *ngIf="selectedProduct?.id === doctor.id">
                                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: doctor}"></ng-container>
                                                </ng-container>-->
                                            </td>

                                        </ng-container>

                                        <tr class="shadow h-12" mat-header-row *matHeaderRowDef="appointmentsTableColumns; sticky: true">
                                        </tr>
                                        <tr class="h-13 hover:bg-gray-100 dark:hover:bg-hover" mat-row
                                            *matRowDef="let doctor; columns: appointmentsTableColumns;"></tr>
                                        <tr class="h-0" mat-row *matRowDef="let row; columns: ['doctorDetails']"></tr>

                                    </table>

                                    <mat-paginator *ngIf="currentItems.length === limit" [length]="totalItemsCount" [pageSize]="limit"
                                                   [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPageChange($event)"
                                                   [pageIndex]="currentPage - 1" aria-label="Select page">
                                    </mat-paginator>

                                </div>


                            </ng-container>

                            <ng-template #noDoctors>
                                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                                    Appointments!
                                </div>
                            </ng-template>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--Doctor Dashboard End-->
