<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                {{pageType && pageType === 'edit' ? 'Update Patient' : 'Create Patient'}}</div>

            <!-- Actions -->
            <!-- <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <button
                    class="ml-4"
                    mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                    [routerLink]="'/patients'">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    <span class="ml-2 mr-1">All Patients</span>
                </button>
            </div> -->
        </div>

        <!-- Main -->
        <div class="flex-auto mt-4 sm:mt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <!-- Tabs -->
                <mat-tab-group
                    class="border-b"
                    [animationDuration]="'0'">

                    <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" [svgIcon]="'iconsmind:find_user'"></mat-icon>
                            <span>Personal Info</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <form
                    class="flex flex-col w-full"
                    [formGroup]="form">

                    <div class="flex px-8 pt-8">
                        <div class="flex flex-auto">
                            <!-- <div class="flex flex-col w-1/3 pl-8">
                               
                                <mat-form-field class="w-full">
                                    <mat-label>Title</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'title'">
                                </mat-form-field>
                            </div> -->
                            <!-- <div class="flex flex-col w-1/6 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Title</mat-label>
                                    <mat-select [formControlName]="'title'"
                                                placeholder="Select Title">
                                        <ng-container>
                                            <mat-option [value]="'Mr'">
                                                {{'Mr'}}
                                            </mat-option>
                                        </ng-container>
                                        <ng-container>
                                            <mat-option [value]="'Mrs'">
                                                {{'mrs'}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>

                            </div> -->
                            <div class="flex flex-col w-1/3 pl-8">
                               
                                <mat-form-field class="w-full">
                                    <mat-label>First Name <span class="text-red-600">*</span></mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'first_name'">
                                    <app-input-info [message]="getValidationMessage('first_name').message"></app-input-info>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Middle Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'middle_name'">
                                </mat-form-field>

                            </div>

                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Last Name</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'last_name'">
                                </mat-form-field>

                            </div>
                        </div>
                    </div>
                    <div class="flex px-8">
                            <div class="flex flex-col w-1/4 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Email</mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'email'">
                                    <app-input-info [message]="getValidationMessage('email').message"></app-input-info>
                                </mat-form-field>

                            </div>

                        <div class="flex flex-auto">
                            <div class="flex flex-col w-1/3 pl-8">
                               
                                <mat-form-field class="w-full">
                                    <mat-label>Phone <span class="text-red-600">*</span></mat-label>
                                    <input
                                        matInput
                                        [formControlName]="'phone'">
                                    <app-input-info [message]="getValidationMessage('phone').message"></app-input-info>
                                </mat-form-field>
                            </div>
                            
                        <!-- <div class="flex flex-auto"> -->
                                <div class="flex flex-col w-1/3 pl-8">
                                   
                                    <mat-form-field class="w-full">
                                        <mat-label>Aadhaar</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'aadhaar_number'">
                                        <app-input-info [message]="getValidationMessage('aadhaar_number').message"></app-input-info>
                                    </mat-form-field>
                                </div>

                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Sex <span class="text-red-600">*</span></mat-label>
                                    <mat-select [formControlName]="'gender'"
                                                placeholder="Select Gender">
                                        <ng-container>
                                            <mat-option [value]="'male'">
                                                {{'Male'}}
                                            </mat-option>
                                        </ng-container>
                                        <ng-container>
                                            <mat-option [value]="'female'">
                                                {{'Female'}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <app-input-info [message]="getValidationMessage('gender').message"></app-input-info>
                                </mat-form-field>

                            </div>

                           
                            <!-- <div class="flex flex-col w-1/3 pl-8">
                               
                                <mat-form-field class="w-full">
                                    <mat-label>Speciality Type </mat-label>
                                    <mat-select [formControlName]="'speciality'"
                                                placeholder="Select Speciality Type">
                                        <ng-container>
                                            <mat-option *ngFor="let spe of specialites" [value]="spe.id">
                                                {{spe.name}}
                                            </mat-option>
                                        </ng-container>
                                       
                                    </mat-select>
                                </mat-form-field>

                            </div> -->

                        </div>
                    </div>
                    <div class="flex px-8">
                        <div class="flex flex-auto">
                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Language <span class="text-red-600">*</span></mat-label>
                                    <mat-select [formControlName]="'language'"
                                                placeholder="Select Language">
                                        <ng-container *ngFor="let language of languages">
                                            <mat-option [value]="language.label">
                                                {{language.label}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <app-input-info [message]="getValidationMessage('language').message"></app-input-info>
                                </mat-form-field>

                            </div>
                            

                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Date Of Birth <span class="text-red-600">*</span></mat-label>
            
                                    <input [max]="today" [formControlName]="'date_of_birth'" matInput [matDatepicker]="dp1"
                                    >
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1></mat-datepicker>
                                    <app-input-info [message]="getValidationMessage('date_of_birth').message"></app-input-info>
                                </mat-form-field>
            
                            </div>
                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Select State</mat-label>
                                    <mat-select [formControlName]="'state'"
                                                placeholder="Select State">
                                        <ng-container>
                                            <mat-option *ngFor="let spe of state" [value]="spe.name">
                                                {{spe.name}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <app-input-info [message]="getValidationMessage('state').message"></app-input-info>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-1/3 pl-8">
                                <mat-form-field class="w-full">
                                    <mat-label>Select City</mat-label>
                                    <mat-select [formControlName]="'city'"
                                                placeholder="Select City">
                                        <ng-container>
                                            <mat-option  *ngFor="let spe of city" [value]="spe.city">
                                                {{spe.city}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                    <app-input-info [message]="getValidationMessage('city').message"></app-input-info>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div class="flex px-8">
                            <div class="flex flex-auto">
                                    <div class="flex flex-col w-1/6 pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>Pin</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'zip_code'">
                                            <app-input-info [message]="getValidationMessage('zip_code').message"></app-input-info>
                                        </mat-form-field>
        
                                    </div>
                                <div class="flex flex-col w-1/2 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Address</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'address'">
                                        <app-input-info [message]="getValidationMessage('address').message"></app-input-info>
                                    </mat-form-field>
    
                                </div>
                                
                                <!-- <div class="flex flex-col w-1/2 pl-8">
                                    <mat-form-field class="w-full">
                                        <mat-label>Bio</mat-label>
                                        <input
                                            matInput
                                            [formControlName]="'bio'">
                                    </mat-form-field>
    
                                </div> -->
    
                            </div>
                        </div>

                   <div class="flex items-center justify-between w-full px-8 py-4">
                        <button
                            [disabled]="form.invalid"
                            *ngIf="pageType ==='register'" (click)="addPatient($event)"
                            class="ml-8"
                            mat-button
                            style="background-color: #37babb; border-radius: 3px; color: white">
                            <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2 mr-1">Save</span>
                        </button>

                        <button
                            class="ml-8"
                            mat-button
                            [disabled]="form.invalid"
                            *ngIf="pageType ==='edit'" (click)="next()"
                            style="background-color: #37babb; border-radius: 3px; color: white">
                            <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                            <span class="ml-2 mr-1">Update</span>
                        </button>
                    </div>

                </form>
                        </ng-template>
                    </mat-tab>

                    <!-- <mat-tab>
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" [svgIcon]="'policy'"></mat-icon>
                            <span>Policy Info</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <form [formGroup]="policyInfoForm"
                                  class="flex flex-col w-full">

                                <div class="flex px-8 pt-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/4">
                                            <mat-form-field class="w-full">
                                                <mat-label>Policy Number</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'policyNumber'">
                                            </mat-form-field>
                                        </div>

                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Policy Expiry Date</mat-label>

                                                <input matInput [matDatepicker]="dp1"
                                                       [formControlName]="'policyExpiryDate'">
                                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                                <mat-datepicker #dp1></mat-datepicker>
                                            </mat-form-field>

                                        </div>

                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Member ID</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'memberId'">
                                            </mat-form-field>

                                        </div>

                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Company Number</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'companyNumber'">
                                            </mat-form-field>

                                        </div>

                                    </div>
                                </div>
                                <div class="flex px-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-1/4">
                                            <mat-label>Member Active</mat-label>

                                            <mat-radio-group aria-label="Select an option" class="mt-3"
                                                             [formControlName]="'memberActive'">
                                                <mat-radio-button value="1" class="mr-2">Yes</mat-radio-button>
                                                <mat-radio-button value="2">No</mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Gregorian/ Islamic Date</mat-label>
                                                <input matInput [matDatepicker]="dp2"
                                                       [formControlName]="'islamicDate'">
                                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                                <mat-datepicker #dp2></mat-datepicker>
                                            </mat-form-field>

                                        </div>
                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>Policy Deductible</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'policyDeductible'">
                                            </mat-form-field>

                                        </div>
                                        <div class="flex flex-col w-1/4 pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>City</mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'city'">
                                            </mat-form-field>

                                        </div>


                                    </div>
                                </div>


                                <div class="flex items-center justify-between w-full px-8 py-4">
                                    <button
                                        class=""
                                        mat-button
                                        *ngIf="pageType ==='new'"
                                        [routerLink]="'/patient/search/list'"
                                        style="background-color: #37babb; border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Save</span>
                                    </button>
                                    <button
                                    class=""
                                    mat-button
                                    *ngIf="pageType ==='edit'"
                                    [routerLink]="'/patient/search/list'"
                                    style="background-color: #37babb; border-radius: 3px; color: white">
                                    <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                    <span class="ml-2 mr-1">Update</span>
                                </button>
                                </div>


                            </form>

                        </ng-template>
                    </mat-tab> -->

                    <!-- <mat-tab *ngIf="role && role !== 'admin'">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" svgIcon="mat_solid:10k"></mat-icon>
                            <span>Medications</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <ng-container>
                                <app-medication-list></app-medication-list>
                            </ng-container>

                        </ng-template>
                    </mat-tab> -->

                    <!-- <mat-tab *ngIf="role && role !== 'admin'">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" [svgIcon]="'10k'"></mat-icon>
                            <span>Allergies</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <ng-container>
                                <app-allergies-list></app-allergies-list>
                            </ng-container>

                        </ng-template>
                    </mat-tab> -->

                    <!-- <mat-tab *ngIf="role && role !== 'admin'">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" svgIcon="iconsmind:notepad"></mat-icon>
                            <span>Symptoms</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <form [formGroup]="personalInfoForm"
                                  class="flex flex-col w-full">

                                <div class="flex px-8 pt-8">
                                    <div class="flex flex-auto">
                                        <div class="flex flex-col w-full">
                                            <mat-label>Describe...</mat-label>
                                            <mat-form-field class="w-full">

                                                <textarea style="height: 200px" class="p-4 border w-full"
                                                          [formControlName]="'dob'"
                                                          placeholder="Enter here..."></textarea>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                                <div class="flex items-center justify-between w-full px-8 py-4">
                                    <button
                                        mat-button
                                        [routerLink]="'/doctors'"
                                        style="background-color: #37babb; border-radius: 3px; color: white">
                                        <mat-icon style="color: white" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                        <span class="ml-2 mr-1">Update</span>
                                    </button>
                                </div>

                            </form>

                        </ng-template>
                    </mat-tab> -->

                    <!-- <mat-tab *ngIf="role && role !== 'admin'">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" svgIcon="mat_solid:sticky_note_2"></mat-icon>
                            <span>Prescription</span>
                        </ng-template>
                        <ng-template matTabContent>

                            <ng-container>
                                <app-prescription-list></app-prescription-list>
                            </ng-container>

                        </ng-template>
                    </mat-tab> -->

                    <!-- <mat-tab *ngIf="role && role !== 'admin'">
                        <ng-template mat-tab-label>
                            <mat-icon class="mr-2" svgIcon="mat_outline:wifi_calling_3"></mat-icon>
                            <span>Call Details</span>
                        </ng-template>
                        <ng-template matTabContent>
                            <app-call-details-list></app-call-details-list>
                        </ng-template>
                    </mat-tab> -->


                </mat-tab-group>


            </div>
        </div>

    </div>
</div>
