<!--<link rel="stylesheet" href="../../../../styles/styles.scss">-->
<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start min-w-0" style="width: 100%;">
    <div
        class="relative hidden md:flex items-center justify-center p-10 overflow-hidden"
        style="background-image: url('assets/images/mask-group.png');background-color: #2FAAAB;min-height: 100vh;width: 34%">
        <div class="z-10 relative w-full max-w-2xl" style="margin: 160px 0 190px 0;">
            <div class=" vertical-align animated bounceInUp">
                <img style="width:175px" src="assets/images/logo/vmd2.png" alt="">
            </div>
            <div class="mt-6 text-white animated bounceInUp" style="font-size:1.25rem;font-weight:300;">
                <p style="text-align:center;">Simplifies to manage patients & doctors</p>
                <p style="text-align:center;">and appointments in a smart way.</p>
                <!-- <p style="text-align:center;"> patients & chambers in a smart way.</p>
                <p style="text-align:center;"> Create your first prescription in less than</p>
                <p style="text-align:center;">60 seconds.</p> -->
            </div>
            
        </div>
        <div class="position-absolute right-0 bottom-0 left-0 text-center text-white p-5"> 
            <div class="row">
                <div class="col-6">
                    <p class="mb-0 mt-1"><span class="text-white-85"> © 2021 All Rights Reserved</span></p>
                </div>
                <div class="col-6">
                    <ul class="list-inline-item mb-0 mt-1">
                        <li class="list-inline-item"><a  class="text-white-85 hover-white">Privacy</a></li>
                        <li class="list-inline-item"><a class="text-white-85 hover-white">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div
        class="md:flex md:justify-center w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 md:p-12 md:pt-20 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card" style="flex: 1;">
        <div class="px-32 w-full max-w-160 sm:w-160 mx-auto sm:mx-0 animated slideInRight">
            <!-- Logo -->
            <div class="w-full vertical-align">
                <img style="width:140px;height: 70px;" src="assets/images/logo/logo.png" alt="">
            </div>

            <!-- Title -->
            <div class="mt-2 text-3xl font-normal tracking-tight leading-tight vertical-align">Sign in to your account
            </div>


            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <mat-form-field class="w-full">
                    <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">Role</mat-label>
                    <!-- <mat-select
                        placeholder="Select Role" [formControlName]="'type'">
                        <ng-container>
                            <mat-option [value]="'admin'">
                                Admin
                            </mat-option>
                        </ng-container>
                        <ng-container>
                            <mat-option [value]="'representative'">
                                Representative
                            </mat-option>
                        </ng-container>
                        <ng-container>
                            <mat-option [value]="'doctor'">
                                Doctor
                            </mat-option>
                        </ng-container>
                    </mat-select> -->
                    <select matNativeControl  [formControlName]="'type'" style="padding-left: 15px !important;
                    font-size: 16px;">
                                    <option value="admin">
                                        Admin
                                    </option>
                                    <option value="doctor">
                                        Doctor
                                    </option>
                                    <option value="representative">
                                            Representative
                                        </option>
                                    <!-- <option value="" disabled selected></option>
                                    <option value="'admin'">admin</option>
                                    <option value="'representative'">representative</option>
                                    <option value="'doctor'">doctor</option> -->
                      </select>
                    <mat-error *ngIf="signInForm.get('type').hasError('required')">
                        Role is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('type').hasError('type')">
                        Please enter a valid Role
                    </mat-error>
                </mat-form-field>

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">Email
                    </mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'" autocomplete="off">
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label class="vertical-align mb-2" style="font-size: 18px; font-weight: 400">Password
                    </mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <div class="inline-flex justify-between w-full mt-1.5 vertical-align">
                    <!--<a
                        class="text-md font-medium text-primary-500 hover:underline"
                        [routerLink]="['/forgot-password']">Forgot password?
                    </a>-->
                    <a style="margin-left: 135px; color: #10565C"
                       class="vertical-align text-md font-medium hover:underline"
                       [routerLink]="['/forgot-password']">Forgot password?
                    </a>
                </div>

                <!-- Submit button -->
                <button
                    style="background-color: #2FAAAB; color: white; border-radius: 3px"
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        Sign in
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <!-- <div class="flex items-baseline mt-6 font-medium vertical-align">
                    <div>Don't have an account?</div>
                    <a class="ml-1 text-primary-500 hover:underline">Register
                    </a>
                </div> -->

            </form>
        </div>
    </div>
</div>
<style>
    /* body{
         overflow: hidden;
    } */
</style>
