<div *ngIf="message" @fadeAnimation class="absolute right-2 w-auto shadow-lg rounded py-1 px-2 text-xs text-white z-10" style="bottom: 110%; background-color: #dc2626;" >
    <div class="absolute w-1 h-1" style="bottom: -2px; right: 10px; background-color: #dc2626; transform: rotate(45deg)"></div>
    <p>{{message}}</p>
</div>
