<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start min-w-0"
     style="width: 100%;">
    <div class="relative hidden md:flex items-center justify-center p-10 overflow-hidden"
         style="background-image: url('assets/images/mask-group.png');background-color: #2FAAAB;min-height: 100vh;width: 34%">
        <div class="z-10 relative w-full max-w-2xl" style="margin: 160px 0 190px 0;">
            <div class="w-full vertical-align">
                <img style="width:175px" src="assets/images/logo/vmd2.png" alt="">
            </div>
            <!-- <div class="mt-6 text-white" style="font-size:1.25rem;font-weight:300;">
                <p style="text-align:center;">Simplifies prescription and </p>
                <p style="text-align:center;">appointments, helping you to manage</p>
                <p style="text-align:center;"> patients & chambers in a smart way.</p>
                <p style="text-align:center;"> Create your first prescription in less than</p>
                <p style="text-align:center;">60 seconds.</p>
            </div> -->
            <div class="mt-6 text-white animated bounceInUp" style="font-size:1.25rem;font-weight:300;">
                <p style="text-align:center;">Simplifies to manage patients & doctors</p>
                <p style="text-align:center;">and appointments in a smart way.</p>
                <!-- <p style="text-align:center;"> patients & chambers in a smart way.</p>
                <p style="text-align:center;"> Create your first prescription in less than</p>
                <p style="text-align:center;">60 seconds.</p> -->
            </div>
        </div>
        <div class="position-absolute right-0 bottom-0 left-0 text-center text-white p-5">
            <div class="row">
                <div class="col-6">
                    <p class="mb-0"><span class="text-white-85"> © 2021 All Rights Reserved</span></p>
                </div>
                <div class="col-6">
                    <ul class="list-inline-item mb-0">
                        <li class="list-inline-item"><a class="text-white-85 hover-white">Privacy</a></li>
                        <li class="list-inline-item"><a class="text-white-85 hover-white">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex md:justify-center w-full sm:w-auto md:h-full py-8 px-4 sm:p-12 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card"
         style="flex: 1;">
        <div class="px-32 flex flex-col justify-center w-full max-w-160 sm:w-160 mx-auto sm:mx-0 animated slideInRight">
            <!-- Logo -->
            <div class="w-full vertical-align">
                <img style="width:110px" src="assets/images/logo/logo.png" alt="">
            </div>
            <!-- Title -->
            <ng-container *ngIf="step === 1">
                <div class="mt-8 text-3xl font-semibold tracking-tight leading-tight vertical-align">Forgot password ?
                </div>
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                            [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
                <!-- Sign in form -->
                <form class="mt-8" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
                    <mat-form-field class="w-full">
                        <mat-label>Email address</mat-label>
                        <input id="email" matInput [formControlName]="'email'">
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                            Email address is required
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                    <!-- Actions -->
                    <div class="inline-flex justify-between w-full mt-1.5 vertical-align">
                        <!--<a
                            class="text-md font-medium text-primary-500 hover:underline"
                            [routerLink]="['/forgot-password']">Forgot password?
                        </a>-->
                        <a style="margin-left: 135px; color: #10565C"
                           class="vertical-align text-md font-medium hover:underline"
                           [routerLink]="['/sign-in']">Return to signin
                        </a>
                    </div>
                    <!-- Submit button -->
                    <button style="background-color: #2FAAAB; color: white; border-radius: 3px"
                            class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                            [disabled]="forgotPasswordForm.disabled" (click)="sendEmail()">
                        <span *ngIf="!forgotPasswordForm.disabled">
                            Send reset link
                        </span>
                        <mat-progress-spinner *ngIf="sendOtpLoading" [diameter]="24" [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </button>
                    <!-- <div class="flex items-baseline mt-6 font-medium vertical-align">
                        <div>Don't have an account?</div>
                        <a class="ml-1 text-primary-500 hover:underline">Register
                        </a>
                    </div> -->
                </form>
            </ng-container>
            <ng-container *ngIf="step === 2">
                <div class="mt-8 text-3xl font-semibold tracking-tight leading-tight vertical-align">Verify OTP</div>
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                            [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
                <!-- Sign in form -->
                <form class="mt-8" [formGroup]="verifyOtpForm" #verifyOtpNgForm="ngForm">
                    <mat-form-field class="w-full">
                        <mat-label>OTP</mat-label>
                        <input id="otp" matInput minlength="6" maxlength="6" type="number" [formControlName]="'otp'">
                        <mat-error *ngIf="verifyOtpForm.get('otp').hasError('required')">
                            OTP is required
                        </mat-error>
                        <mat-error
                                *ngIf="!verifyOtpForm.get('otp').hasError('required') && verifyOtpForm.get('otp').hasError('invalidLength')">
                            OTP must be of 6 characters
                        </mat-error>
                    </mat-form-field>
                    <!-- Actions -->
                    <div class="inline-flex justify-between w-full mt-1.5 vertical-align">
                        <a style="color: #10565C" class="vertical-align text-md font-medium hover:underline"
                           [routerLink]="['/sign-in']">Return to signin
                        </a>
                        <a style="color: #10565C"
                           class="cursor-pointer vertical-align text-md font-medium hover:underline"
                           (click)="sendEmail()">
                            Resend OTP
                        </a>
                    </div>
                    <!-- Submit button -->
                    <div class="flex">
                        <button style="background-color: #2FAAAB; color: white; border-radius: 3px"
                                class="fuse-mat-button-large w-full mt-6 mr-2" mat-flat-button [color]="'primary'"
                                (click)="backToEmail($event)">
                            <span *ngIf="!verifyOtpForm.disabled">
                                Change Email
                            </span>
                        </button>
                        <button style="background-color: #2FAAAB; color: white; border-radius: 3px"
                                class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                                [disabled]="verifyOtpForm.disabled" (click)="verifyOtp()">
                            <span *ngIf="!verifyOtpForm.disabled">
                                Verify OTP
                            </span>
                            <mat-progress-spinner *ngIf="verifyOtpLoading" [diameter]="24" [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </div>
                    <!-- <div class="flex items-baseline mt-6 font-medium vertical-align">
                        <div>Don't have an account?</div>
                        <a class="ml-1 text-primary-500 hover:underline">Register
                        </a>
                    </div> -->
                </form>
            </ng-container>
            <ng-container *ngIf="step === 3">
                <div class="mt-8 text-3xl font-semibold tracking-tight leading-tight vertical-align">Change password
                </div>
                <!-- Alert -->
                <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                            [type]="alert.type" [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>
                <!-- Sign in form -->
                <form class="mt-8" [formGroup]="changePasswordForm" #changePasswordNgForm="ngForm">
                    <mat-form-field class="w-full">
                        <mat-label>New Password</mat-label>
                        <input type="password" id="password" matInput [formControlName]="'password'" #passwordField2>
                        <button mat-icon-button type="button" tabindex="-1"
                                (click)="passwordField2.type === 'password' ? passwordField2.type = 'text' : passwordField2.type = 'password'"
                                matSuffix>
                            <mat-icon class="icon-size-5 text-gray-400" *ngIf="passwordField2.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5 text-gray-400" *ngIf="passwordField2.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="changePasswordForm.get('password').hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-full">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" id="conPassword" matInput [formControlName]="'conPassword'"
                               #passwordField3>
                        <button mat-icon-button type="button" tabindex="-1"
                                (click)="passwordField3.type === 'password' ? passwordField3.type = 'text' : passwordField3.type = 'password'"
                                matSuffix>
                            <mat-icon class="icon-size-5 text-gray-400" *ngIf="passwordField3.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5 text-gray-400" *ngIf="passwordField3.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="changePasswordForm.get('conPassword').hasError('required')">
                            Confirm Password is required
                        </mat-error>
                        <mat-error
                                *ngIf="!changePasswordForm.get('conPassword').hasError('required') && changePasswordForm.get('conPassword').hasError('notMatch')">
                            Password doesn't match
                        </mat-error>
                    </mat-form-field>
                    <!-- Actions -->
                    <div class="inline-flex justify-between w-full mt-1.5 vertical-align">
                        <!--<a
                            class="text-md font-medium text-primary-500 hover:underline"
                            [routerLink]="['/forgot-password']">Forgot password?
                        </a>-->
                        <a style="margin-left: 135px; color: #10565C"
                           class="vertical-align text-md font-medium hover:underline"
                           [routerLink]="['/sign-in']">Return to signin
                        </a>
                    </div>
                    <!-- Submit button -->
                    <div class="flex">
                        <button style="background-color: #2FAAAB; color: white; border-radius: 3px"
                                class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                                [disabled]="changePasswordForm.disabled" (click)="changePassword()">
                            <span *ngIf="!changePasswordForm.disabled">
                                Change Password
                            </span>
                            <mat-progress-spinner *ngIf="changePasswordLoading" [diameter]="24"
                                                  [mode]="'indeterminate'"></mat-progress-spinner>
                        </button>
                    </div>
                </form>
            </ng-container>
        </div>
    </div>
</div>
