<!-- Table wrapper -->
<div
    class="overflow-x-auto sm:overflow-y-auto"
    cdkScrollable>

    <!-- Table -->
    <table
        class="w-full  table-fixed bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        mat-table
        [multiTemplateDataRows]="true"
        [dataSource]="patients">

        <!-- Name -->
        <ng-container matColumnDef="medicineName">
            <th
                class="w-12 border-r font-bold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Medicine Name
            </th>
            <td
                class="pr-8 truncate border-r tracking-tight"
                mat-cell
                *matCellDef="let patient">
                {{'Zolozo'}}
            </td>
        </ng-container>

        <!-- Price -->
        <ng-container matColumnDef="dosage">
            <th
                class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Dosage
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'1.5 mg'}}
            </td>
        </ng-container>

        <!-- Stock -->
        <ng-container matColumnDef="frequency">
            <th
                class="w-10 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef
            >
                Frequency
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'Day'}}
            </td>
        </ng-container>


        <tr
            class="shadow"
            mat-header-row
            *matHeaderRowDef="medictionsTableColumns; sticky: true"></tr>
        <tr
            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
            mat-row
            *matRowDef="let patient; columns: medictionsTableColumns;"></tr>
        <tr
            class="h-0"
            mat-row
            *matRowDef="let row; columns: ['doctorDetails']"></tr>

    </table>

    <mat-paginator
        class=" "
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="10"
        [pageIndex]="1"
        [pageSize]="20"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"></mat-paginator>

</div>

