<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
    <div
        class="sm:col-span-3 lg:col-span-4 m-10 mt-16 flex flex-col flex-auto border bg-card rounded-2xl overflow-hidden"
        style="box-shadow: 0px 0px 17px 11px rgb(245 233 245)">
        <!-- Header -->
        <div
            class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-3xl font-semibold tracking-tight">
                {{pageType && pageType === 'edit' ? 'Update Prescription' : 'Create New Prescription'}}</div>

            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- All Doctors button -->
                <!-- <button
                    class="ml-4"
                    mat-flat-button
                    style="background-color: #E5E5E5; color: black; border-radius: 6px;"
                    [routerLink]="'/doctors'">
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                    <span class="ml-2 mr-1">All Prescription</span>
                </button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="col-md-6" style="padding-left: 5%;font-weight: 600;">
                    <span>{{doctors.first_name || ''}} {{doctors.last_name || ''}}</span><br/>
                    <span>{{doctors.email || ''}}</span>
                </div>
                <div class="col-md-6" style="padding-right: 5%;text-align: right;font-weight: 600;">
                    <span>{{doctors.degree || ''}}</span><br/>
                    <span>{{doctors.institution_name || ''}}</span>
                </div>
            </div>
           
        </div>
        <!-- Main -->
        <div class="flex flex-col flex-auto overflow-hidden">
           
            <!-- Doctor Form -->
            <div class="flex flex-col flex-auto overflow-hidden">
                <div class="flex">
                    <!-- Selected product form -->
                  
                    <form [formGroup]="empForm" style="width: 100%;">
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 10px;">
                                <div class="col-md-4" style="font-weight: 600;">
                                        <div class="flex flex-col pl-8">
                                            <mat-form-field class="w-full" appearance="fill">
                                                <mat-label>Patient Name
                                                </mat-label>
                                                <input
                                                    matInput
                                                    [formControlName]="'patient_name'">
                                            </mat-form-field>
                                        </div>
                                    <div class="flex flex-col pl-8">
                                                
                                        <!-- First Name -->
                                        <mat-form-field class="w-full" appearance="fill">
                                            <mat-label>Clinical Diagnosis</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'diagonosis'">
                                        </mat-form-field>
                                    </div>
                                    <div class="flex flex-col pl-8">
                            
                                        <!-- First Name -->
                                        <mat-form-field class="w-full" appearance="fill">
                                            <mat-label>Additional Advices</mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'ad_advices'">
                                        </mat-form-field>
                                    </div>
<!--                                    <div class="flex flex-col pl-8">-->
<!--                            -->
<!--                                        &lt;!&ndash; First Name &ndash;&gt;-->
<!--                                        <mat-form-field class="w-full" appearance="fill">-->
<!--                                            <mat-label>Advice</mat-label>-->
<!--                                            <input-->
<!--                                                matInput-->
<!--                                                [formControlName]="'advice'">-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->

                                    <!-- <div class="flex flex-col pl-8">
                            
                                        <mat-form-field class="w-full" appearance="fill">
                                            <mat-label>Diagnosis Tests
                                            </mat-label>
                                            <input
                                                matInput
                                                [formControlName]="'investigation'">
                                        </mat-form-field>
                                    </div> -->
                                    <div class="flex flex-col pl-8">
                            
                                        <!-- First Name -->
                                        <!-- <mat-form-field class="w-full" appearance="fill">
                                            <mat-label>Next Follow Up
                                            </mat-label>
                                            <mat-select [formControlName]="'next_duration'"
                                            placeholder="Select Days">
                                                <ng-container >
                                                    <mat-option value='1'>
                                                        1
                                                    </mat-option>
                                                    <mat-option value='2'>
                                                        2
                                                    </mat-option>
                                                    <mat-option value='3'>
                                                        3
                                                    </mat-option>
                                                    <mat-option value='4'>
                                                        4
                                                    </mat-option>
                                                </ng-container>
                                                
                                            </mat-select>

                                        </mat-form-field>

                                        <mat-form-field class="w-full" appearance="fill">
                                            
                                            <mat-select [formControlName]="'next_time'"
                                            placeholder="Select Time">
                                                <ng-container >
                                                    <mat-option value='Days'>
                                                        Days
                                                    </mat-option>
                                                    <mat-option value='Months'>
                                                        Months
                                                    </mat-option>
                                                    <mat-option value='Years'>
                                                        Years
                                                    </mat-option>
                                                </ng-container>
                                                
                                            </mat-select>

                                        </mat-form-field> -->
                                    </div>
    

                                </div>
                                <div class="col-md-8" style="font-weight: 600;">
                                    <div class="flex flex-auto">
                                        
                                    </div>
                                    <div formArrayName="drug_data">
                                        <div class="row">
                                                <div class="col-md-12" style="font-weight: 600;">
                                                   
                                                   
                                                    <div *ngFor="let employee of employees().controls; let empIndex=index">
                                                        <div
                                                          [formGroupName]="empIndex"
                                                          style="padding: 10px; width: 100%; margin: 5px;"
                                                        >
                                                        <div class="flex flex-auto">
                                                            <div class="flex flex-col w-1/2 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                    <mat-label>Drugs 
                                                                    </mat-label>
                                                                    <mat-select [formControlName]="'drugName'"
                                                                    placeholder="Select Drugs " (opened)="selectOpened()">
                                                                        <input #input class="py-2 px-4 text-base" placeholder="Type here to search drugs..." (keyup)="onKey($event)">
                                                                        <ng-container *ngIf="drugs?.length > 0; else noDrugs" >
                                                                            <mat-option *ngFor="let drg of drugs" value='{{drg.medicine}}'>
                                                                              {{drg.medicine}}
                                                                            </mat-option>
                                                                            <!-- <mat-option value='Drug2'>
                                                                                Drug2
                                                                            </mat-option> -->
                                                                        </ng-container>
                                                                        <ng-template #noDrugs>
                                                                            <p class="p-3 text-center text-base">No Drugs</p>
                                                                        </ng-template>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/4 pl-8 mt-6">
                                                                <button type="button" class="btn tn-primary" (click)="addEmployee(empIndex+1)" style="background-color: #075056 ; color: #fff; border-radius: 6px;">Add Drug</button>
                                                                <!-- <button *ngIf="empIndex > 0" (click)="removeEmployee(empIndex)" style="color: red;color: #fff; border-radius: 6px; margin-top: 10px;">Remove</button> -->

                                                            </div>
                                                            <div class="flex flex-col w-1/4 pl-8 mt-6" *ngIf="empIndex > 0">
                                                                <!-- <button type="button" class="btn tn-primary" (click)="addEmployee()" style="background-color: #075056 ; color: #fff; border-radius: 6px; margin-top: 10px;">Add Drug</button> -->
                                                                <button type="button" class="btn tn-primary" (click)="removeEmployee(empIndex)" style="color: #fff; border-radius: 6px;background-color: red;">Remove</button>

                                                            </div>
                                                           
                                                        </div>
                                                        <div class="flex flex-auto">
                                                            <!-- <div class="flex flex-col w-1/3 pl-8">
                                                                <button (click)="removeEmployeeSkill(empIndex,skillIndex)" style="color: red;">
                                                                    Remove
                                                                  </button>
                                                            </div> -->
                                                            
                                                        </div>

                                                        <div class="flex flex-auto">
                                                            <div class="flex flex-col w-1/3 pl-8">
                
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'morning'"
                                                                    placeholder="Morning">
                                                                        <ng-container >
                                                                            <mat-option value='0'>
                                                                                0
                                                                            </mat-option>
                                                                            <mat-option value='1/2'>
                                                                                1/2
                                                                            </mat-option>
                                                                            <mat-option value='1'>
                                                                                1
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                                2
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                            3
                                                                            </mat-option>
                                                                            <mat-option value='4'>
                                                                                4
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'afternoon'"
                                                                    placeholder="After Noon">
                                                                        <ng-container >
                                                                            <mat-option value='0'>
                                                                                0
                                                                            </mat-option>
                                                                            <mat-option value='1/2'>
                                                                                1/2
                                                                            </mat-option>
                                                                            <mat-option value='1'>
                                                                                1
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                                2
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                            3
                                                                            </mat-option>
                                                                            <mat-option value='4'>
                                                                                4
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'evening'"
                                                                    placeholder="Evening">
                                                                        <ng-container >
                                                                            <mat-option value='0'>
                                                                                0
                                                                            </mat-option>
                                                                            <mat-option value='1/2'>
                                                                                1/2
                                                                            </mat-option>
                                                                            <mat-option value='1'>
                                                                                1
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                                2
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                            3
                                                                            </mat-option>
                                                                            <mat-option value='4'>
                                                                                4
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'night'"
                                                                    placeholder="Night">
                                                                        <ng-container >
                                                                            <mat-option value='0'>
                                                                                0
                                                                            </mat-option>
                                                                            <mat-option value='1/2'>
                                                                                1/2
                                                                            </mat-option>
                                                                            <mat-option value='1'>
                                                                                1
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                                2
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                            3
                                                                            </mat-option>
                                                                            <mat-option value='4'>
                                                                                4
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <!-- <div class="flex flex-col w-1/4 pl-8">
                                                                  <button type="button" class="btn tn-primary" (click)="addEmployeeSkill(empIndex)" style="background-color: royalblue ; color: #fff; border-radius: 6px;">
                                                                   +
                                                                  </button>
                                                            </div> -->
                                                        </div>
                                                        <div class="flex flex-auto">
                                                            <div class="flex flex-col w-1/3 pl-8">
                
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'days'"
                                                                    placeholder="Select Days">
                                                                        <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]">
                                                                            <mat-option value='{{i}}'>
                                                                               {{i}}
                                                                            </mat-option>
                                                                            <!-- <mat-option value='1/2'>
                                                                                1/2
                                                                            </mat-option>
                                                                            <mat-option value='1'>
                                                                                1
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                                2
                                                                            </mat-option>
                                                                            <mat-option value='3'>
                                                                            3
                                                                            </mat-option>
                                                                            <mat-option value='4'>
                                                                                4
                                                                            </mat-option> -->
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'start_time'"
                                                                    placeholder="Select Time">
                                                                        <ng-container >
                                                                            <mat-option value='Continue'>
                                                                                Continue
                                                                            </mat-option>
                                                                            <mat-option value='Days'>
                                                                                Days
                                                                            </mat-option>
                                                                            <mat-option value='Months'>
                                                                                Months
                                                                            </mat-option>
                                                                            <mat-option value='Years'>
                                                                                Years
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                    
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <mat-select [formControlName]="'meal'"
                                                                    placeholder="Select Meal">
                                                                        <ng-container >
                                                                            <mat-option value='Before/After Meal'>
                                                                                Before/After Meal
                                                                            </mat-option>
                                                                            <mat-option value=' Before Meal'>
                                                                                Before Meal
                                                                            </mat-option>
                                                                            <mat-option value=' After Meal'>
                                                                                After Meal
                                                                            </mat-option>
                                                                        </ng-container>
                                                                        
                                                                    </mat-select>
                        
                                                                </mat-form-field>
                            
                                                            </div>
                                                            <div class="flex flex-col w-1/3 pl-8">
                
                                                                <mat-form-field class="w-full" appearance="fill">
                                                                
                                                                    <input
                                                                    matInput
                                                                    placeholder="Notes"
                                                                    [formControlName]="'note'">
                        
                                                                </mat-form-field>
                                                            
                            
                                                            </div>
                                                            <!-- <div class="flex flex-col w-1/4 pl-8">
                                                                <button type="button" class="btn tn-primary" (click)="removeEmployeeSkill(empIndex,skillIndex)" style="color: #fff; border-radius: 6px;background-color: red;" *ngIf="skillIndex > 0">
                                                                   -
                                                                  </button>
                                                            </div> -->
                                                        </div>
                                                        
                                                  
                                                          <!-- <div formArrayName="skills">
                                                            <div
                                                              *ngFor="let skill of employeeSkills(empIndex).controls; let skillIndex=index"
                                                            >
                                                              <div [formGroupName]="skillIndex">
                                                                <div class="flex flex-auto">
                                                                   
                                                                    
                                                            
                                                                </div>
                                                              
                                                              
                                                               
                                                              </div>
                                                            </div>
                                                          </div>
                                                          -->
                                                        </div>
                                                      </div>
                
                                                </div>
                                          
                                        </div>
                                      </div>
                                </div>  
                                <div class="flex flex-col w-1/4 pl-8 right">
                                    <button type="button" class="btn tn-primary" (click)="createPdf($event)" style="color: #fff; border-radius: 6px;background-color: red;">
                                       Create Pdf
                                      </button>
                                </div> 
                         </div>
                        </div>
                      
                    </form>
                    <br /><br />
                   
                    
                    
                </div>

            </div>

            <!-- Doctor Form -->
            <div class="flex flex-col flex-auto overflow-hidden">
                <p class="text-gray-500 mt-10 mb-7 text-center">Or</p>
                <div class="flex border-b justify-center items-center pb-12">

                        <input type="file" #fileInput>

                        <button type="button" class="btn tn-primary" (click)="uploadPrescription($event)" style="color: #fff; border-radius: 6px;background-color: red;">
                            Upload Prescription
                        </button>

                </div>

            </div>
          
        </div>
        <!-- {{this.empForm.value | json}} -->
    </div>
</div>
