.py-8 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.mt-16 {
    margin-top: 1rem !important;
}
.m-10 {
    margin: 0.5rem !important;
}
mat-form-field.mat-form-field {
    font-size: 12px;
}
.error{
    color: red;
}