<div class="grid grid-cols-1 gap-6 w-full min-w-0 bg-white">
      <div class="container">
        <div id="row">
            <div [ngClass]="{'col-md-7':role && role == 'doctor','col-md-12':role && role != 'doctor'}">
                <div class="row">
                    <div class="panel panel-default" style="width: 100%;">
                        <div class="panel-heading">
                            <div class="text-lg font-medium tracking-tight leading-6 truncate" style="color: rgb(12, 12, 12)">
                                {{remoteCalls}}
                                <span>Call With {{first_name}}, {{time}}</span><span class="mr-1" style="color: red;float: right;">● Live</span>
                            </div>
                           
                        </div>
                        <div class="panel-body" style="padding: 0px;    background: aliceblue;">
                            
                            <div class="containertext">
                                <div style="background: blue;">
                                    <div [id]="localCallId" class="local"></div>
                                 </div>
                                <div class="box" style="background:#837c7c;">
                                   <div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">
                                </div>
                              </div>
                             </div>
                           
                            <!-- <div id="local-stream-container" class="col p-0" >
                             
                                
                                <div id="local-video" class="col p-0"></div>
                            </div>
                            <div id="full-screen-video"></div>
                            <div id="remote-streams-container" class="container col-9 ml-1">
                               
                                <div id="remote-streams" class="row">
                                   
                                </div>
                            </div> -->
                           
           
                       <div class="text-lg font-medium tracking-tight leading-6 truncate"
                                style="background: #23202082;color: white; display: flex;justify-content: center;">
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="background: red;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;" id="exit-btn" >
                                    <i id="exit-icon" style="transform: rotate(
                                        137deg);" class="fa fa-phone" aria-hidden="true"  (click)="endCall()"></i>
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Leave
                                   </div>
                               </div>
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid purple;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;" id="video-btn">
                                   <!-- <i class="fa fa-video"></i> -->
                                   <i id="video-icon" *ngIf="!videoimage" class="fa fa-video-camera" aria-hidden="true" (click)="muteVideo()"></i>
                                   <i id="video-icon" style="color:red"  *ngIf="videoimage" class="fa fa-video-camera" aria-hidden="true" (click)="unmuteVideo()"></i>
                                    <!-- <mat-icon style="color: white" svgIcon="heroicons_solid:video-camera"></mat-icon> -->
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Your Video
                                   </div>
                               </div>
           
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid purple;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;" id="mic-btn">
                                      <i id="mic-icon" *ngIf="!audioimage" class="fa fa-microphone"  aria-hidden="true" (click)="muteAudio()"></i>
                                      <i id="mic-icon" style="color:red" *ngIf="audioimage" class="fa fa-microphone-slash" aria-hidden="true" (click)="unmuteAudio()"></i>
                                      <!-- <mat-icon style="color: white" svgIcon="heroicons_solid:microphone"></mat-icon> -->
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Your Mic
                                   </div>
                               </div>
           
<!--            
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid white;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;">
                                       <mat-icon style="color: white" svgIcon="heroicons_outline:user-add"></mat-icon>
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Invite
                                   </div>
                               </div>
           
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid white;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;">
                                       <mat-icon style="color: white" svgIcon="mat_solid:screen_share"></mat-icon>
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Share Screen
                                   </div>
                               </div>
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid grey;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;">
                                       <mat-icon style="color: white" svgIcon="feather:edit"></mat-icon>
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Annotate
                                   </div>
                               </div>
           
                               <div class="callbtn">
                                   <div class="vertical-align" style="border: 1px solid purple;
                                   border-radius: 50%; height: 35px;
                                   width: 35px;cursor: pointer;">
                                       <mat-icon style="color: white" svgIcon="call_end"></mat-icon>
                                   </div>
                                   <div style="font-size: 10px;text-align: center">
                                       Chat
                                   </div>
                               </div> -->
           
           
                           </div>
                        </div>
                      </div>
                </div>
       
                <!-- <div id="buttons-container" class="row justify-content-center mt-3">
                    <div class="col-md-2 text-center">
                        <button id="mic-btn" type="button" class="btn btn-block btn-dark btn-lg">
                            
                            <i id="mic-icon" class="fa fa-microphone" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button id="video-btn"  type="button" class="btn btn-block btn-dark btn-lg">
                           
                            <i id="video-icon" class="fa fa-video-camera" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-md-2 text-center">
                        <button id="exit-btn"  type="button" class="btn btn-block btn-danger btn-lg">
                    
                            <i id="exit-icon" class="fa fa-phone" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div id="full-screen-video"></div>
                <div id="lower-video-bar" class="row fixed-bottom mb-1">
                    <div id="remote-streams-container" class="container col-9 ml-1">
                        <div id="remote-streams" class="row">
                           
                        </div>
                    </div>
                    <div id="local-stream-container" class="col p-0">
                        <div id="mute-overlay" class="col">
                            <i id="mic-icon" class="fas fa-microphone-slash"></i>
                        </div>
                        <div id="no-local-video" class="col text-center">
                            <i id="user-icon" class="fas fa-user"></i>
                        </div>
                        <div id="local-video" class="col p-0"></div>
                    </div>
                </div> -->
            </div>
            <div [ngClass]="{'col-md-5':role && role == 'doctor','col-md-0':role && role != 'doctor'}" *ngIf="role && role == 'doctor'">
                <div style="box-shadow: 0px 0px 8px 2px rgb(245 233 245)"
                class="sm:col-span-2 md:col-span-4 lg:col-span-3 flex flex-col flex-auto bg-card shadow  overflow-hidden">
               <div class="flex flex-col sm:flex-row items-start p-4" style="background: #F14963;height: 55px">
                   <div class="text-lg font-medium tracking-tight leading-6 truncate" style="color: white">
                       <span>Patient Chart</span>
                   </div>
               </div>

               <div>
                   <cdk-accordion class="example-accordion">
                       <cdk-accordion-item
                           *ngFor="let item of items; let index = index;"
                           #accordionItem="cdkAccordionItem"
                           class="example-accordion-item my-4"
                           role="button"
                           tabindex="0"
                           [attr.id]="'accordion-header-' + index"
                           [attr.aria-expanded]="accordionItem.expanded"
                           [attr.aria-controls]="'accordion-body-' + index">
                           <div style="background: #E5E5E5" class="example-accordion-item-header"
                                (click)="accordionItem.toggle()">
                               {{ item }}
                               <span class="example-accordion-item-description">
                                   <mat-icon *ngIf="accordionItem.expanded"
                                             svgIcon="mat_solid:arrow_drop_up"></mat-icon>
                                    <mat-icon *ngIf="!accordionItem.expanded"
                                              svgIcon="mat_solid:arrow_drop_down"></mat-icon>
                               </span>
                           </div>
                           <div style="background: #F4F4F4"
                                class="example-accordion-item-body"
                                role="region"
                                [style.display]="accordionItem.expanded ? '' : 'none'"
                                [attr.id]="'accordion-body-' + index"
                                [attr.aria-labelledby]="'accordion-header-' + index">
                               <div class="flex flex-col flex-0 px-2">

                                   <div class="flex items-center" *ngIf="item === 'Patient Profile'">
                                       <div class="flex items-center cursor-pointer my-2">
                                           <mat-icon style="height: 65px; width: 65px; color: black"
                                                     class="icon-size-15"
                                                     [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                          

                                           <div class="ml-9 font-medium truncate capitalize"
                                                style="color: #4F4E4E"> {{full_name}} <br/>{{phone}}
                                               <br>{{email}}
                                           </div>
                                       </div>
                                   </div>
                                   <div class="flex items-center" *ngIf="item === 'Allergies'">
                                    <div class="flex items-center cursor-pointer my-2">
                                       
                                            <table class="table">
                                                <tr>
                                                    <th>Name</th>
<!--                                                    <th>Type</th>-->
                                                </tr>
                                                <tr *ngFor="let allergie of allergies;">
                                                  
                                                    <td> {{allergie.name}}</td>
<!--                                                    <td> {{allergie.type}}</td>-->
                                                </tr>
                                            </table>
                                       
                                        
                                    </div>
                                </div>
                                <div class="flex items-center" *ngIf="item === 'Medications'">
                                    <div class="flex items-center cursor-pointer my-2">
                                       
                                            <table class="table">
                                                <tr>
                                                    <th>Name</th>
<!--                                                    <th>Dosage</th>-->
<!--                                                    <th>Type</th>-->
<!--                                                    <th>Frequency</th>-->
<!--                                                    <th>Period</th>-->
                                                </tr>
                                                <tr *ngFor="let medication of medications;">
                                                  
                                                    <td>{{medication.name}}</td>
<!--                                                    <td>{{medication.dosage}}</td>-->
<!--                                                    <td>{{medication.type}}</td>-->
<!--                                                    <td>{{medication.frequency}}</td>-->
<!--                                                    <td>{{medication.period}}</td>-->
                                                </tr>
                                            </table>
                                       
                                        
                                    </div>
                                </div>
                                <div class="flex items-center" *ngIf="item === 'Vitals'">
                                    <div class="flex items-center cursor-pointer my-2">
                                       
                                            <table class="table">
                                                <tr>
                                                    <th>Weight</th>
                                                    <th>Temperature</th>
                                                    <th>Height</th>
                                                    <th>Pulse</th>
                                                    <th>SPO2</th>
                                                </tr>
                                                <tr>
                                                  
                                                    <td>{{vitals.weight}}</td>
                                                    <td>{{vitals.temperature}}</td>
                                                    <td>{{vitals.height}}</td>
                                                    <td>{{vitals.oxygen_blood_saturation}}</td>
                                                    <td>{{vitals.heart_rate}}</td>
                                                </tr>
                                            </table>
                                       
                                        
                                    </div>
                                </div>
                                <div class="flex items-center" *ngIf="item === 'Symptoms'">
                                    <div class="flex items-center cursor-pointer my-2">
                                       
                                            <table class="table">
                                                <tr>
                                                    <th>Symptoms</th>
                                                </tr>
                                                <tr >
                                                  
                                                    <td>{{symptoms}}</td>
                                                </tr>
                                            </table>
                                       
                                        
                                    </div>
                                </div>
                               </div>
                           </div>
                       </cdk-accordion-item>
                   </cdk-accordion>

               </div>
           </div>
            </div>
            
        </div>
        
      </div>
        
   
      <!-- The Modal -->
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog" style="    margin-top: 20%;">
       <div class="modal-content">
          <!-- Modal Header -->
          <!-- <div class="modal-header" style="border-bottom:0px;    padding: 0.5rem 0.5rem;">
             <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
             </div>
             -->
          <!-- Modal body -->
          <div class="modal-body">
             <h4 style="color:#0e418b;text-align: center;font-size: 36px;margin-top: 20px;">Thank You !</h4>
             <p style="color:#000;    text-align: center;
                font-size: 18px;">Do you want to end the call.</p>
             <div class="row" style="margin-top: 60px;">
                <div class="col-md-3 offset-md-3 col-sm-12 headerConAppbtnback">
                   <a style="cursor: pointer;" (click) = "hide()">No</a>
                </div>
                <div class="col-md-3 col-sm-12 headerConAppbtn2">
                   <a (click) = "endcallyes()" style="cursor: pointer;">Yes</a>
                </div>
             </div>
          </div>
          <!-- Modal footer -->
          <!-- <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
             </div> -->
       </div>
    </div>
 </div>
 <!-- The Modal -->  
</div>
