<div
    class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-2 mb-2 px-6 md:px-8 border-b">

    <!-- Loader -->
    <div
        class="absolute inset-x-0 bottom-0"
        *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
    </div>
    <!-- Title -->
    <div class="text-3xl font-semibold tracking-tight"></div>


    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-2 sm:mt-0 sm:ml-4">
        <!-- All Doctors button -->
        <button
            class="ml-4"
            mat-flat-button
            style="background-color: #F14963; color: white; border-radius: 6px;"
            [routerLink]="'/patients'">
            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            <span class="ml-2 mr-1">Add New</span>
        </button>
    </div>
</div>
<!-- Table wrapper -->
<div
    class="overflow-x-auto sm:overflow-y-auto"
    cdkScrollable>

    <!-- Table -->
    <table
        class="w-full  table-fixed bg-transparent"
        [ngClass]="{'pointer-events-none': isLoading}"
        mat-table
        [multiTemplateDataRows]="true"
        [dataSource]="patients">

        <!-- Name -->
        <ng-container matColumnDef="allergieName">
            <th
                class="w-12 border-l border-r font-bold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Allergies Name
            </th>
            <td
                class="pr-8 truncate border-l border-r tracking-tight"
                mat-cell
                *matCellDef="let patient">
                {{'Test'}}
            </td>
        </ng-container>

        <!-- Price -->
        <ng-container matColumnDef="allergieType">
            <th
                class="w-12 pl-2 border-r font-semibold text-1xl truncate"
                mat-header-cell
                *matHeaderCellDef>
                Allergies Type
            </th>
            <td
                class="pr-4 pl-2 truncate border-r"
                mat-cell
                *matCellDef="let patient">
                {{'Food'}}
            </td>
        </ng-container>

        <tr
            class="shadow"
            mat-header-row
            *matHeaderRowDef="allergieTableColumns; sticky: true"></tr>
        <tr
            class="h-18 hover:bg-gray-100 dark:hover:bg-hover"
            mat-row
            *matRowDef="let patient; columns: allergieTableColumns;"></tr>
        <tr
            class="h-0"
            mat-row
            *matRowDef="let row; columns: ['doctorDetails']"></tr>

    </table>

    <mat-paginator
        class=" "
        [ngClass]="{'pointer-events-none': isLoading}"
        [length]="10"
        [pageIndex]="1"
        [pageSize]="20"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"></mat-paginator>

</div>

